.la {
  --min-height--window: 536px;
  --min-width--window: 900px;
  --active-color: rgba(0, 0, 0, 0.07);
  --disabled-color: rgba(0, 0, 0, 0.3);
  --hover-color: rgba(0, 0, 0, 0.03);
  --regular-color: rgba(0, 0, 0, 0);
  --error-color: red;
  --color--background: hsla(0, 0%, 10%);
  --color--background--form: hsla(0, 0%, 15%);
  --color--background--button: hsla(0, 0%, 25%);
  --color--background--button--disabled: hsla(0, 0%, 15%);
  --color--background--button--hover: hsla(0, 0%, 40%);
  --color--border: hsl(0, 0%, 80%);
  --color--font--black: hsl(0, 0%, 10%);
  --color--font--gray: hsl(0, 0%, 50%);
  --color--font--white: hsl(0, 0%, 80%);
  background: var(--color--background);
  color: var(--color--font--white);
  font-family: 'Noto Sans JP', 'ＭＳ ゴシック', 'Osaka-Mono', monospace, sans-serif;

  &--button {
    appearance: none;
    background: var(--color--background--button);
    border: 1px solid var(--color--border);
    border-radius: 5px;
    color: var(--color--font--white);
    cursor: pointer;
    font-size: 1.25rem;
    grid-area: button;
    line-height: 2;

    &:hover {
      background: var(--color--background--button--hover);
    }
  }

  &--confirmation {
    margin-bottom: 0.5rem;
  }

  &--error {
    color: var(--error-color);
  }

  &--field {
    margin-bottom: 1rem;
  }

  &--flavor {
    margin-top: 10vh;

    & > p {
      font-size: 2rem;
      margin: 1rem;
      text-align: center;
    }
  }

  &--trailer {
    border: 0;
    display: block;
    margin: 0 auto;
  }

  &--input {
    appearance: none;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }

  &--label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &--grid {
    display: grid;
    grid-template:
      'lead login signup'
      'lead form form'
      'lead notes notes'
      'lead assessment assessment'
      'sponsor sponsor sponsor'
      'footer footer footer'
      / minmax(calc(var(--min-width--window) * 0.6), 3fr) 1fr 1fr;
  }

  &--lead {
    grid-area: lead;
    position: relative;
  }

  &--form {
    background: var(--color--background--form);
    border: solid 1px var(--color--border);
    border-radius: 0 0 4px 4px;
    border-top: none;
    grid-area: form;
    margin: 0 1rem;
    padding: 1rem;
  }

  &--news {
    height: 100%;
    width: 100%;
  }

  &--form-navigation {
    background: var(--color--background--button);
    border: solid 1px var(--color--border);
    border-radius: 4px 4px 0 0;
    color: var(--color--font--gray);
    cursor: pointer;
    font-size: 2rem;
    line-height: 1.5;
    padding: 0.5rem;

    &.selected {
      background: var(--color--background--form);
      border-bottom: none;
      color: var(--color--white);
    }

    &:focus {
      background: var(--color--background--button--hover);
      outline: none;
    }

    &.login {
      grid-area: login;
      margin-left: 1rem;
    }

    &.signup {
      grid-area: signup;
      margin-right: 1rem;
    }
  }

  &--title {
    margin-top: 10vh;

    & > p {
      font-size: 3rem;
      margin: 1rem;
      text-align: center;
    }
  }

  &--sponsor {
    grid-area: sponsor;
  }

  &--footer {
    grid-area: footer;
  }
}
