@import './footer';
@import './form';
@import './grid';
@import './lead';
@import './publicity';
@import './sponsor';
@import './trailer';
@import './updateNotes';

body {
  margin: 0;
}

.la {
  --min-height--window: 536px;
  --min-width--window: 900px;
  --active-color: rgba(0, 0, 0, 0.07);
  --disabled-color: rgba(0, 0, 0, 0.3);
  --hover-color: rgba(0, 0, 0, 0.03);
  --regular-color: rgba(0, 0, 0, 0);
  --error-color: red;
  --color--background: hsla(0, 0%, 10%);
  --color--background--sponsor: hsla(0, 0%, 20%);
  --color--background--form: hsla(0, 0%, 15%);
  --color--background--button: hsla(0, 0%, 25%);
  --color--background--button--disabled: hsla(0, 0%, 15%);
  --color--background--button--hover: hsla(0, 0%, 40%);
  --color--border: hsl(0, 0%, 80%);
  --color--font--black: hsl(0, 0%, 10%);
  --color--font--gray: hsl(0, 0%, 50%);
  --color--font--link: rgb(38, 132, 255);
  --color--font--white: hsl(0, 0%, 80%);
  background: var(--color--background);
  color: var(--color--font--white);
  font-family: 'Noto Sans JP', 'ＭＳ ゴシック', 'Osaka-Mono', monospace, sans-serif;

  &--error {
    color: var(--error-color);
  }

  &--flavor {
    margin-top: 10vh;

    & > p {
      font-size: 2rem;
      margin: 1rem;
      text-align: center;
    }
  }

  &--link {
    background: var(--color--background--button);
    color: var(--color--font--white);
    display: block;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: var(--color--background--button--hover);
    }

    &:focus {
      background: var(--color--background--button--hover);
    }
  }

  &--news {
    height: 100%;
    width: 100%;
  }

  &--title {
    margin-top: 10vh;

    & > p {
      font-size: 3rem;
      margin: 1rem;
      text-align: center;
    }
  }
}
