.lo.dark {

  /* stylelint-disable color-named */
  --color--danger: rgb(239, 83, 80);
  --color--font--black: hsl(0, 0%, 10%);
  --color--font--gray: hsl(0, 0%, 50%);
  --color--font--white: hsl(0, 0%, 80%);
  --color--neutral0: hsl(0, 0%, 0%);
  --color--neutral5: hsl(0, 0%, 5%);
  --color--neutral10: hsl(0, 0%, 10%);
  --color--neutral15: hsl(0, 0%, 15%);
  --color--neutral20: hsl(0, 0%, 20%);
  --color--neutral25: hsl(0, 0%, 25%);
  --color--neutral30: hsl(0, 0%, 30%);
  --color--neutral40: hsl(0, 0%, 40%);
  --color--neutral50: hsl(0, 0%, 50%);
  --color--neutral60: hsl(0, 0%, 60%);
  --color--neutral70: hsl(0, 0%, 70%);
  --color--neutral80: hsl(0, 0%, 80%);
  --color--neutral90: hsl(0, 0%, 90%);
  --color--neutral100: hsl(0, 0%, 100%);
  --color--neutral0a: hsla(0, 0%, 0%, 0.5);
  --color--neutral5a: hsla(0, 0%, 5%, 0.5);
  --color--neutral10a: hsla(0, 0%, 10%, 0.5);
  --color--neutral15a: hsla(0, 0%, 15%, 0.5);
  --color--neutral20a: hsla(0, 0%, 20%, 0.5);
  --color--neutral25a: hsla(0, 0%, 25%, 0.5);
  --color--neutral30a: hsla(0, 0%, 30%, 0.5);
  --color--neutral40a: hsla(0, 0%, 40%, 0.5);
  --color--neutral50a: hsla(0, 0%, 50%, 0.5);
  --color--neutral60a: hsla(0, 0%, 60%, 0.5);
  --color--neutral70a: hsla(0, 0%, 70%, 0.5);
  --color--neutral80a: hsla(0, 0%, 80%, 0.5);
  --color--neutral90a: hsla(0, 0%, 90%, 0.5);
  --color--neutral100a: hsla(0, 0%, 100%, 0.5);
  --color--primary: rgba(38, 132, 255, 1);
  --color--primary10: rgba(38, 132, 255, 0.1);
  --color--primary20: rgba(38, 132, 255, 0.2);
  --color--primary25: rgba(38, 132, 255, 0.25);
  --color--primary30: rgba(38, 132, 255, 0.3);
  --color--primary40: rgba(38, 132, 255, 0.4);
  --color--primary50: rgba(38, 132, 255, 0.5);
  --color--primary60: rgba(38, 132, 255, 0.6);
  --color--primary70: rgba(38, 132, 255, 0.7);
  --color--primary75: rgba(38, 132, 255, 0.75);
  --color--primary80: rgba(38, 132, 255, 0.8);
  --color--primary90: rgba(38, 132, 255, 0.9);
  --color--safe: rgb(102, 187, 106);
  --color--warning: rgb(255, 238, 88);

  /* stylelint-enable color-named */
  --color--background: var(--color--neutral0a);
  --color--background--button: var(--color--neutral25a);
  --color--background--button--disabled: var(--color--neutral15a);
  --color--background--button--hover: var(--color--neutral40a);
  --color--background--menu: var(--color--neutral0a);
  --color--background--menu--disabled: var(--color--neutral40a);
  --color--background--menu--focus: var(--color--neutral20a);
  --color--background--menu--hover: var(--color--neutral30a);
  --color--background--primary-button: var(--color--primary50);
  --color--background--primary-button--disabled: var(--color--primary20);
  --color--background--primary-button--hover: var(--color--primary40);
  --color--background--settings--bucket: var(--color--neutral80);
  --color--border: var(--color--neutral90);
  --color--border--input: var(--color--neutral20);
  --color--border--settings--bucket: var(--color--neutral80);
  --color--font: var(--color--font--white);
  --color--font--button: var(--color--font--white);
  --color--font--button--disabled: var(--color--font--gray);
  --color--font--settings--bucket: var(--color--font--black);
  --color--font--settings--bucket--danger: var(--color--font--white);
  --color--line--close-button: var(--color--border);
  --color--line--close-button--hover: var(--color--neutral70);
  --color--font--placeholder: var(--color--neutral50);
  --color--font--menu: var(--color--font--white);
  --color--font--menu--disabled: var(--color--font--gray);
  --color--obfucator--loader: var(--color--neutral90);
}
