.vi.dark {

  /* stylelint-disable color-named */
  --color--background--grave: rgb(0, 0, 77);
  --color--background--master: rgb(0, 82, 0);
  --color--background--private: rgb(38, 38, 38);
  --color--background--public: rgb(102, 66, 0);
  --color--background--silent: rgb(204, 172, 0);
  --color--background--werewolf: rgb(80, 0, 0);
  --color--danger: rgb(239, 83, 80);
  --color--font--black: hsl(0, 0%, 10%);
  --color--font--gray: hsl(0, 0%, 50%);
  --color--font--white: hsl(0, 0%, 80%);
  --color--neutral0: hsl(0, 0%, 0%);
  --color--neutral5: hsl(0, 0%, 5%);
  --color--neutral10: hsl(0, 0%, 10%);
  --color--neutral15: hsl(0, 0%, 15%);
  --color--neutral20: hsl(0, 0%, 20%);
  --color--neutral25: hsl(0, 0%, 25%);
  --color--neutral30: hsl(0, 0%, 30%);
  --color--neutral40: hsl(0, 0%, 40%);
  --color--neutral50: hsl(0, 0%, 50%);
  --color--neutral60: hsl(0, 0%, 60%);
  --color--neutral70: hsl(0, 0%, 70%);
  --color--neutral80: hsl(0, 0%, 80%);
  --color--neutral90: hsl(0, 0%, 90%);
  --color--neutral100: hsl(0, 0%, 100%);
  --color--primary: rgba(38, 132, 255, 1);
  --color--primary10: rgba(38, 132, 255, 0.1);
  --color--primary20: rgba(38, 132, 255, 0.2);
  --color--primary25: rgba(38, 132, 255, 0.25);
  --color--primary30: rgba(38, 132, 255, 0.3);
  --color--primary40: rgba(38, 132, 255, 0.4);
  --color--primary50: rgba(38, 132, 255, 0.5);
  --color--primary60: rgba(38, 132, 255, 0.6);
  --color--primary70: rgba(38, 132, 255, 0.7);
  --color--primary75: rgba(38, 132, 255, 0.75);
  --color--primary80: rgba(38, 132, 255, 0.8);
  --color--primary90: rgba(38, 132, 255, 0.9);

  /* stylelint-enable color-named */
  /* ailias */
  --color--background--button: var(--color--neutral25);
  --color--background--button--disabled: var(--color--neutral15);
  --color--background--button--hover: var(--color--neutral40);
  --color--background--close-button: var(--color--background);
  --color--background--close-button--hover: var(--color--neutral30);
  --color--background--primary-button: var(--color--primary50);
  --color--background--primary-button--disabled: var(--color--primary20);
  --color--background--primary-button--hover: var(--color--primary40);
  --color--background--suggest: var(--color--background);
  --color--background--suggest--hover: var(--color--primary80);
  --color--background--suggest--selected: var(--color--primary60);
  --color--background: var(--color--neutral10);
  --color--background--body: var(--color--neutral0);
  --color--border: var(--color--neutral90);
  --color--dead: var(--color--danger);
  --color--font: var(--color--font--white);
  --color--font--button: var(--color--font--white);
  --color--font--button--disabled: var(--color--font--gray);
  --color--font--dead: var(--color--font--black);
  --color--font--grave: var(--color--font--white);
  --color--font--image-initial: var(--color--font--white);
  --color--font--modal: var(--color--font--white);
  --color--font--placeholder: var(--color--neutral50);
  --color--font--prediction--fill: var(--color--font--black);
  --color--font--primary-button: var(--color--font--white);
  --color--font--primary-button--disabled: var(--color--font--gray);
  --color--font--private: var(--color--font--white);
  --color--font--public: var(--color--font--white);
  --color--font--silent: var(--color--font--black);
  --color--font--suggest: var(--color--font--white);
  --color--font--suggest--hover: var(--color--font--white);
  --color--font--suggest--selected: var(--color--font--white);
  --color--font--werewolf: var(--color--font--white);
  --color--line--close-button: var(--color--border);
  --color--line--close-button--hover: var(--color--neutral70);
  --color--obfucator--loader: var(--color--neutral90);
  --color--prediction--circle: var(--color--danger);
  --color--prediction--cross: var(--color--danger);
  --color--prediction--fill: var(--color--neutral90);
  --color--prediction--question: var(--color--neutral90);
  --color--prediction--triangle: var(--color--danger);
  --color--star--marked: rgb(255, 235, 59);
  --color--star--unmarked: rgb(158, 158, 158);
}
