* {
  margin: 0;
}

body {
  display: grid;
  font-family: 'Noto Sans Japanese', 'ＭＳ ゴシック', 'Osaka-Mono', 'monospace', 'sans-serif';
  grid-template-areas:
    'lead login'
    'lead signup';
  grid-template-columns: 3fr 2fr;
}

.confirmation {
  margin-bottom: 0.5rem;
}

.lead {
  grid-area: lead;
  height: 100vh;
  position: relative;
}

.login {
  border: solid 1px black;
  border-radius: 1rem;
  grid-area: login;
  margin: auto 1rem 1rem;
  padding: 1rem;
}

.signup {
  border: solid 1px black;
  border-radius: 1rem;
  grid-area: signup;
  margin: 1rem 1rem auto;
  padding: 1rem;
}

.input {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding: 0.5rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  display: block;
}

.field {
  margin-bottom: 1rem;
}

.error {
  font: red;
}

.title {
  margin-top: 10vh;

  & > p {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
  }
}

.flavor {
  margin-top: 10vh;

  & > p {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
  }
}

.image {
  height: 50%;
  margin: 0 auto;
  width: 50%;
}
