:root {
  --active-color: rgba(0, 0, 0, 0.07);
  --disabled-color: rgba(0, 0, 0, 0.3);
  --hover-color: rgba(0, 0, 0, 0.03);
  --regular-color: rgba(0, 0, 0, 0);
  --error-color: red;
}

body {
  font-family: 'Noto Sans Japanese', 'ＭＳ ゴシック', 'Osaka-Mono', monospace, sans-serif;
}

.la {
  &--button {
    appearance: none;
    background: var(--regular-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    grid-area: button;
    line-height: 2;

    &:hover {
      background: var(--hover-color);

      &:active {
        background: var(--active-color);
        box-shadow: inset 2px 2px 1px 0 grey;
      }
    }
  }

  &--confirmation {
    margin-bottom: 0.5rem;
  }

  &--error {
    color: var(--error-color);
  }

  &--field {
    margin-bottom: 1rem;
  }

  &--flavor {
    margin-top: 10vh;

    & > p {
      font-size: 2rem;
      margin: 1rem;
      text-align: center;
    }
  }

  &--image {
    height: 50%;
    margin: 0 auto;
    width: 50%;
  }

  &--input {
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }

  &--label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &--landing {
    display: grid;
    grid-template-areas:
      'lead - button'
      'lead form form';
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 4rem 1fr;
  }

  &--lead {
    grid-area: lead;
    height: 100vh;
    position: relative;
  }

  &--form {
    border: solid 1px black;
    border-radius: 1rem;
    grid-area: form;
    margin: 1rem 1rem auto;
    padding: 1rem;
  }

  &--mode-button {
    background: rgb(156, 204, 101);
    border-radius: 0 0 0 10px;
    color: white;
    font-size: 2rem;
    grid-area: button;
    line-height: 1.5;
    padding: 0.5rem;
  }

  &--title {
    margin-top: 10vh;

    & > p {
      font-size: 3rem;
      margin: 1rem;
      text-align: center;
    }
  }
}
