.lo {

  /* variables */
  --color--active: var(--color--neutral40);
  --color--background: var(--color--neutral0);
  --color--background--button: var(--color--neutral20);
  --color--background--input: var(--color--neutral10);
  --color--background--me: var(--color--primary);
  --color--border: var(--color--neutral90);
  --color--border--input: var(--color--neutral20);
  --color--disabled: var(--color--neutral50);
  --color--font: var(--color--neutral90);
  --color--font--me: var(--color--neutral0);
  --color--font--input: var(--color--neutral80);
  --color--font--role-image: rgb(254, 254, 254);
  --color--hover: var(--color--neutral30);
  --color--me: var(--color--primary);
  --color--obfucator: rgba(0, 0, 0, 0.8);
  --color--selected: var(--color--primary25);
  --size--avatar-image: 50px;
  --size--avatar-image--L: 120px;
  --size--role-image: 50px;
  --z-index--background: -1;
  --z-index--kick-out: 2;
  --z-index--obfucator: 3;
  --z-index--modal: 4;
  --z-index--member--image: 0;
  --z-index--member--text: 1;
  --z-index--village--select: 2;

  /* properties */
  color: var(--color--font);
  font-family: 'Noto Sans JP', 'ＭＳ ゴシック', 'Osaka-Mono', monospace, sans-serif;

  &.dark {
    --color--neutral0: hsl(0, 0%, 0%);
    --color--neutral5: hsl(0, 0%, 5%);
    --color--neutral10: hsl(0, 0%, 10%);
    --color--neutral20: hsl(0, 0%, 20%);
    --color--neutral30: hsl(0, 0%, 30%);
    --color--neutral40: hsl(0, 0%, 40%);
    --color--neutral50: hsl(0, 0%, 50%);
    --color--neutral60: hsl(0, 0%, 60%);
    --color--neutral70: hsl(0, 0%, 70%);
    --color--neutral80: hsl(0, 0%, 80%);
    --color--neutral90: hsl(0, 0%, 90%);
    --color--neutral100: hsl(0, 0%, 100%);
    --color--primary: rgba(38, 132, 255, 1);
    --color--primary25: rgba(38, 132, 255, 0.25);
    --color--primary50: rgba(38, 132, 255, 0.5);
    --color--primary75: rgba(38, 132, 255, 0.75);
    --color--danger: rgb(239, 83, 80);
    --color--safe: rgb(102, 187, 106);
    --color--warning: rgb(255, 238, 88);
    --color--background--modal: var(--color--neutral90);
    --color--font--modal: var(--color--neutral10);
    --color--obfucator--loader: var(--color--neutral90);
  }

  &.light {
    --color--neutral0: hsl(0, 0%, 100%);
    --color--neutral5: hsl(0, 0%, 95%);
    --color--neutral10: hsl(0, 0%, 90%);
    --color--neutral20: hsl(0, 0%, 80%);
    --color--neutral30: hsl(0, 0%, 70%);
    --color--neutral40: hsl(0, 0%, 60%);
    --color--neutral50: hsl(0, 0%, 50%);
    --color--neutral60: hsl(0, 0%, 40%);
    --color--neutral70: hsl(0, 0%, 30%);
    --color--neutral80: hsl(0, 0%, 20%);
    --color--neutral90: hsl(0, 0%, 10%);
    --color--neutral100: hsl(0, 0%, 0%);
    --color--primary: rgba(38, 132, 255, 1);
    --color--primary25: rgba(38, 132, 255, 0.25);
    --color--primary50: rgba(38, 132, 255, 0.5);
    --color--primary75: rgba(38, 132, 255, 0.75);
    --color--danger: rgb(244, 67, 54);
    --color--safe: rgb(76, 175, 80);
    --color--warning: rgb(255, 235, 59);
    --color--background--modal: var(--color--neutral10);
    --color--font--modal: var(--color--neutral90);
    --color--obfucator--loader: var(--color--neutral10);
  }

  &--app--transition {
    &-appear {
      opacity: 0;
      transform: translate(0, -1vh);
    }

    &-appear-active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.1s ease-out;
    }

    &-enter {
      opacity: 0;
      transform: translate(0, -1vh);
    }

    &-enter-active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.1s ease-out;
    }
  }

  &--aside-content {
    grid-area: aside;

    &.expand {
      grid-area: avatar / aside / 4;
    }
  }

  &--avatar {
    align-items: center;
    display: inline-flex;
    grid-area: avatar;

    &--image {
      height: 3rem;
    }

    &--name {
      font-size: 2.5rem;
    }
  }

  &--avatar-list {
    border-left: 1px solid var(--color--border);
    border-right: 1px solid var(--color--border);
    border-top: 1px solid var(--color--border);
    cursor: clickable;
    margin-bottom: 1rem;

    &--item {
      background: var(--color--background);
      border-bottom: 1px solid var(--color--border);
      display: grid;
      font-size: 1.2rem;
      grid-gap: 0.5rem;
      grid-template-areas: 'image name host ping';
      grid-template-columns: var(--size--avatar-image) 3fr 1fr minmax(5.2rem, 1fr); /* 5.2rem = 0.8rem * 4 + 2rem */
      height: var(--size--avatar-image);

      &--image {
        align-items: center;
        display: inline-flex;
        grid-area: image;
        height: var(--size--avatar-image);
        justify-content: center;
        width: var(--size--avatar-image);

        & > img {
          height: var(--size--avatar-image);
          width: var(--size--avatar-image);
        }
      }

      &--host {
        align-items: center;
        border: 1px solid var(--color--font);
        border-radius: 1rem;
        display: inline-flex;
        grid-area: host;
        justify-content: center;
        margin: 2px;
      }

      &--name {
        align-items: center;
        display: inline-flex;
        grid-area: name;
        justify-content: center;
      }

      &--ping {
        align-items: center;
        display: inline-flex;
        font-size: 0.8rem;
        grid-area: ping;
        grid-column: 4 / 5;
        justify-content: center;

        & > svg {
          height: 2rem;
          width: 2rem;
        }

        & > .danger {
          fill: var(--color--danger);
        }

        & > .safe {
          fill: var(--color--safe);
        }

        & > .warning {
          fill: var(--color--warning);
        }
      }

      &.me {
        background: var(--color--background--me);
        color: var(--color--font--me);
      }

      &.me > &--host {
        border-color: var(--color--font--me);
      }

      &--kick-out {
        fill: transparent;
        grid-area: image / image / ping / ping;
        height: 100%;
        width: 100%;
        z-index: var(--z-index--kick-out);

        &:hover {
          fill: red;
          transition: fill 1.5s ease-out;
        }
      }

      &.can-kick-out {
        cursor: pointer;

        &:hover {
          background: var(--color--hover);
        }
      }

      &--transition {
        &-appear {
          opacity: 0;
        }

        &-appear-active {
          opacity: 1;
          transition: opacity 0.5s ease-out;
        }

        &-enter {
          opacity: 0;
        }

        &-enter-active {
          opacity: 1;
          transition: opacity 0.5s ease-out;
        }

        &-exit {
          opacity: 1;
        }

        &-exit-active {
          opacity: 0;
          transition: opacity 0.3s ease-in;
        }
      }
    }
  }

  &--compact-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &--item {
      background: var(--color--background);
      border: 2px solid var(--color--border);
      cursor: pointer;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      text-align: center;
      user-select: none;

      &.disabled {
        background: var(--color--disabled);
        cursor: not-allowed;

        &:hover {
          background: var(--color--disabled);

          &:active {
            background: var(--color--disabled);
          }
        }
      }

      &.loader {
        align-items: center;
        background: var(--color--active);
        cursor: wait;
        display: flex;
        justify-content: center;

        &:hover {
          background: var(--color--active);

          &:active {
            background: var(--color--active);
          }
        }
      }

      & > svg {
        height: 3rem;
        width: 3rem;
      }

      & > .loader {
        stroke: var(--color--neutral90);
      }

      &:hover {
        background: var(--color--hover);

        &:active {
          background: var(--color--active);
        }
      }
    }
  }

  &--create-new-avatar {
    &--command {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      list-style: none;
      margin: 1rem;
      padding: 0;
      text-align: center;

      &--item {
        align-items: center;
        border: 1px solid var(--color--border);
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 1rem;
        user-select: none;

        &:hover {
          background: var(--color--hover);

          &:active {
            background: var(--color--active);
          }
        }
      }
    }

    &--header {
      font-size: 2rem;
      padding: 0.5rem;
    }

    &--select {
      width: 50%;
    }
  }

  &--grid {
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-areas:
      'header avatar'
      'main aside';
    grid-template-columns: minmax(600px, 2fr) minmax(300px, 1fr);
    margin: 1rem;
  }

  &--header {
    font-size: 3rem;
    grid-area: header;
    padding: 1rem;
  }

  &--id-search {
    align-items: center;
    display: inline-flex;
    font-size: 3rem;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;

    &--input {
      background: var(--color--background--input);
      color: var(--color--font--input);
      font-size: 3rem;
      height: 4.5rem; /* font-size * line-height */
      text-align: center;
      width: 12rem; /* (number_of_digit + 1) * font-size */
    }

    &--input:invalid + &--validity::after {
      color: var(--color--danger);
      content: '✖';
      display: inline-block;
      font-size: 3rem;
      padding-left: 0.5rem;
      width: 3rem;
    }

    &--input:valid + &--validity::after {
      color: var(--color--safe);
      content: '✓';
      display: inline-block;
      font-size: 3rem;
      padding-left: 0.5rem;
      width: 3rem;
    }

    &--not-found {
      color: var(--color--neutral60);
      font-size: 3rem;
      text-align: center;
    }

    &--sharp {
      padding-right: 0.5rem;
    }
  }

  &--advanced-search {
    border: var(--color--border) solid 1px;
    display: grid;
    font-size: 2rem;
    grid-template-columns: minmax(240px, 2fr) minmax(360px, 3fr);
    margin: 0 0 1rem;

    &--input {
      background: var(--color--background--input);
      border: var(--color--border) solid 1px;
      box-sizing: border-box;
      color: var(--color--font--input);
      font-size: inherit;
      grid-column: 2 / 5;
      text-align: center;
      width: 100%;

      textarea& {
        padding: 0 1rem;
        resize: vertical;
      }

      &:invalid {
        color: var(--color--danger);
        outline-color: var(--color--danger);
        outline-offset: -2px;
      }
    }

    &--not-found {
      color: var(--color--neutral60);
      font-size: 3rem;
      text-align: center;
    }

    &--prop {
      align-items: center;
      background: var(--color--background);
      border: var(--color--border) solid 1px;
      display: inline-flex;
      grid-column: 1 / 2;
      padding: 1rem 1rem 1rem 0;

      & > input {
        margin: 0 1rem;
      }
    }
  }

  &--main-content {
    grid-area: main;
  }

  &--menu {
    list-style-type: none;
    margin: 0;
    min-width: 900px;
    padding: 1rem;

    &--item {
      background: var(--color--background);
      border: 2px solid var(--color--border);
      cursor: pointer;
      font-size: 4rem;
      font-weight: 100;
      margin: 1.5rem 10rem;
      padding: 1rem;
      text-align: center;
      user-select: none;

      &:hover {
        background: var(--color--hover);

        &:active {
          background: var(--color--active);
        }
      }
    }
  }

  &--avatar-image-select {
    background: var(--color--background--modal);
    bottom: 10%;
    left: 10%;
    padding: 1rem;
    position: fixed;
    right: 10%;
    top: 10%;
    z-index: var(--z-index--modal);

    &--close {
      height: 1.5rem;
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
      width: 1.5rem;
    }

    &--description {
      color: var(--color--font--modal);
      font-size: 2rem;
      padding: 1rem;
    }

    &--image-list {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(5, minmax(calc(var(--size--avatar-image--L) + 0.5rem), 1fr));
      grid-template-rows: repeat(1000, calc(var(--size--avatar-image--L) + 0.5rem));
      height: calc(100% - 5rem);
      overflow: auto;

      &--item {
        align-items: center;
        display: flex;
        justify-content: center;

        &--image {
          height: var(--size--avatar-image--L);
          width: var(--size--avatar-image--L);

          &.selected {
            outline: var(--color--safe) solid 0.25rem;
          }
        }
      }
    }
  }

  &--modal {
    &--transition {
      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transition: opacity 0.5s ease-out;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }

  &--confirmation {
    background: var(--color--background--modal);
    color: var(--color--font--modal);
    display: grid;
    gap: 0.5rem 0;
    grid-template-areas:
      'description description description description description'
      '. yes . no .';

    /*
      5.5rem = font-size(1.5rem) * 3 chars + padding-left(0.5rem) + padding-right(0.5rem)
    */
    grid-template-columns: 1fr 5.5rem 1fr 5.5rem 1fr;

    /*
      15px = name's font-size(10px) * name's line-height(1.5)
      4.5rem = font-size(1.5rem) * line-height(1.5) * number of lines(2)
      3.25rem = font-size(1.5rem) * name's line-height(1.5) + padding-top(0.5rem) + padding-bottom(0.5rem)
    */
    grid-template-rows: 4.5rem 3.25rem;
    left: 25vw;
    padding: 1rem;
    position: fixed;
    top: 30vh;
    width: 50vw;
    z-index: var(--z-index--modal);

    &--button {
      border: none;
      font-size: 1.5rem;
      line-height: 1.5;
      padding: 0.5rem;

      &.yes {
        background: rgba(255, 0, 0, 0.5);
        grid-area: yes;
      }

      &.no {
        background: rgba(0, 0, 255, 0.5);
        grid-area: no;
      }

      &:hover {
        filter: opacity(85%);

        &:active {
          filter: brightness(85%);
        }
      }
    }

    &--description {
      align-items: center;
      display: inline-flex;
      flex-wrap: wrap;
      font-size: 1.5rem;
      grid-area: description;
      justify-content: center;
      text-align: center;
    }
  }

  &--obfucator {
    align-items: center;
    background: var(--color--obfucator);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--z-index--obfucator);

    &--loader {
      height: 10%;
      stroke: var(--color--obfucator--loader);
      width: 10%;
    }

    &--transition {
      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transition: opacity 0.5s ease-out;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }

  &--react-select {
    &__control {
      height: 100%;
    }

    &__value-container {
      display: inline-flex;
      justify-content: center;
    }
  }

  &--select-avatar {
    &--command {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      list-style: none;
      margin: 1rem;
      padding: 0;
      text-align: center;

      &--item {
        align-items: center;
        border: 1px solid var(--color--border);
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 1rem;
        user-select: none;

        &:hover {
          background: var(--color--hover);

          &:active {
            background: var(--color--active);
          }
        }
      }
    }

    &--header {
      font-size: 2rem;
      padding: 0.5rem;
    }

    &--table {
      background: var(--color--background);
      border: 2px solid var(--color--border);
      display: grid;
      grid-template-columns: 24px repeat(7, minmax(8rem, 1fr)) minmax(16rem, 2fr);
      overflow: auto;
      padding: 0 0 1rem;

      &--body--item {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1rem 0.5rem;
        text-align: center;

        &.access-token {
          & > .copy {
            cursor: pointer;
            fill: var(--color--font);
            height: 24px;
            width: 24px;
          }

          & > input {
            background: 1px solid var(--color--background--input);
            border: 1px solid var(--color--border--input);
            color: 1px solid var(--color--font--input);
          }

          & > .renew {
            appearance: none;
            background: var(--color--background--button);
            border: none;
            border-radius: 4px;
            color: var(--color--neutral80);
            cursor: pointer;
            line-height: 2;
            margin: 0 0 0 0.5rem;
            padding: 0 0.5rem;
            user-select: none;

            &:hover {
              background: var(--color--hover);

              &:active {
                background: var(--color--active);
              }
            }
          }
        }

        &.avatar-name {
          & > .input {
            width: 100%;
          }
        }

        &.authorized {
          & > .accept {
            appearance: none;
            background: var(--color--background--button);
            border: none;
            border-radius: 4px;
            color: var(--color--neutral80);
            cursor: pointer;
            font-size: 1.5rem;
            line-height: 2;
            padding: 0 0.5rem;
            user-select: none;

            &:hover {
              background: var(--color--hover);

              &:active {
                background: var(--color--active);
              }
            }
          }
        }

        &.check-box {
          left: 0;
          padding: 0;
          position: sticky;
        }

        &.language {
          padding: 0;

          & > .input {
            width: 100%;
          }
        }

        &.selected {
          background: var(--color--selected);
        }
      }

      &--header--item {
        align-items: center;
        border-bottom: 2px solid var(--color--border);
        display: flex;
        justify-content: center;
        padding: 1rem 0.5rem;
        text-align: center;

        &.check-box {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 0;
        }
      }
    }
  }

  &--settings {
    &--bucket {
      background: var(--color--background);
      border: 1px solid var(--color--neutral80);
      margin-bottom: 3rem;

      &.danger {
        border-color: var(--color--danger);
      }

      &--head {
        background: var(--color--neutral80);
        color: var(--color--neutral10);
        font-size: 2rem;
        padding: 1rem;

        &.danger {
          background: var(--color--danger);
          color: var(--color--neutral0);
        }
      }

      &--form {
        align-items: center;
        display: grid;
        gap: 1rem;
        grid-template-areas: 'label field button';
        grid-template-columns: 3fr 5fr 6rem;
        margin: 1rem;

        &--button {
          appearance: none;
          background: var(--color--background--button);
          border: none;
          border-radius: 4px;
          color: var(--color--neutral80);
          cursor: pointer;
          font-size: 1.5rem;
          grid-area: button;
          line-height: 2;

          &:disabled {
            background: var(--color--disabled);
            cursor: not-allowed;

            &:hover {
              background: var(--color--disabled);

              &:active {
                background: var(--color--disabled);
              }
            }
          }

          &:hover {
            background: var(--color--hover);

            &:active {
              background: var(--color--active);
            }
          }
        }

        &--field {
          background: var(--color--background);
          color: var(--color--font--input);
          font-size: 1.5rem;
          grid-area: field;
          line-height: 2;
          text-align: center;

          &.input {
            border: 1px solid var(--color--border--input);
            border-radius: 4px;
          }
        }

        &--label {
          font-size: 1.75rem;
          grid-area: label;
          line-height: 1.5;
        }

        &.danger {
          grid-template-columns: 3fr 5fr 12rem;
        }
      }
    }
  }

  &--mute-button {
    bottom: 0;
    cursor: pointer;
    height: 2rem;
    position: fixed;
    right: 0;
    width: 2rem;

    & > .mute {
      fill: var(--color--font);
    }

    & > .unmute {
      fill: var(--color--font);
    }
  }

  &--video {
    background: var(--color--background);
    height: 100%;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-index--background);
  }

  &--village {
    list-style-type: none;
    padding: 0;

    &--item {
      background: var(--color--background);
      border: solid 1px var(--color--border);
      display: grid;
      font-size: 2rem;
      grid-template-areas:
        'v-n-p v-n-v i-f-s'
        'h-n-p h-n-v h-n-v'
        's-p s-v1 s-v2'
        'mem mem mem'
        'c-p c-v c-v';
      grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
      margin-bottom: 0.5rem;

      &.build {
        grid-template-areas:
          'v-n-p v-n-v v-n-v'
          'h-n-p h-n-v h-n-v'
          's-p s-v1 s-v2'
          'mem mem mem'
          'c-p c-v c-v';
      }

      &.clickable {
        cursor: pointer;

        &:hover {
          background: var(--color--hover);

          &:active {
            background: var(--color--active);
          }
        }
      }

      &--prop {
        align-items: center;
        border: solid 1px var(--color--border);
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        padding: 1rem;
        text-align: center;

        &.comment {
          grid-area: c-p;
        }

        &.host-name {
          grid-area: h-n-p;
        }

        &.setup {
          grid-area: s-p;
        }

        &.village-name {
          grid-area: v-n-p;
        }
      }

      &--val {
        align-items: center;
        border: solid 1px var(--color--border);
        box-sizing: border-box;
        display: inline-flex;
        font-size: inherit;
        justify-content: center;
        padding: 1rem;
        text-align: center;
        width: 100%;

        &.comment {
          grid-area: c-v;
          resize: vertical;
        }

        &.host-name {
          grid-area: h-n-v;
        }

        &.id-for-searching {
          grid-area: i-f-s;
        }

        &.setup1 {
          grid-area: s-v1;

          &.build {
            padding: 0;
          }
        }

        &--setup1--select {
          font-size: inherit;
          height: 100%;
          width: 100%;

          & > .lo--react-select__menu {
            z-index: var(--z-index--village--select);
          }
        }

        &.setup2 {
          grid-area: s-v2;

          &.build {
            padding: 0;
          }
        }

        &--setup2--select {
          font-size: inherit;
          height: 100%;
          width: 100%;

          & > .lo--react-select__menu {
            z-index: var(--z-index--village--select);
          }
        }

        &.village-name {
          grid-area: v-n-v;
        }

        input&, textarea& {
          background: var(--color--background--input);
          color: var(--color--font--input);
        }

        &.invalid {
          border-color: red;
        }

        &:invalid {
          color: red;
          outline-color: red;
          outline-offset: -2px;
        }
      }

      &--member {
        border: solid 1px var(--color--border);
        box-sizing: border-box;
        display: grid;
        grid-area: mem;
        grid-template-areas:
          'robot human'
          'role role';
        padding: 1rem;

        &--robot {
          align-items: center;
          border: solid 1px var(--color--border);
          display: inline-flex;
          font-size: inherit;
          grid-area: robot;
          justify-content: center;
          padding: 1rem;
          text-align: center;
        }

        &--human {
          align-items: center;
          border: solid 1px var(--color--border);
          display: inline-flex;
          font-size: inherit;
          grid-area: human;
          justify-content: center;
          padding: 1rem;
          text-align: center;
        }

        &--role {
          display: grid;
          grid-area: role;
          grid-template-columns: repeat(8, 1fr);
          margin-top: 0.5rem;

          &--item {
            display: grid;
            font-size: inherit;
            grid-template: 1fr calc(var(--size--role-image) - 16px) 16px 15px 1fr / 1fr calc(var(--size--role-image) - 24px) 12px 12px 1fr;

            &--caption {
              font-size: 10px;
              grid-column: 1 / 6;
              grid-row: 4;
              line-height: 1.5;
              text-align: center;
              word-break: keep-all;
            }

            &--image {
              grid-column: 2 / 4;
              grid-row: 2 / 4;
              height: var(--size--role-image);
              width: var(--size--role-image);
              z-index: var(--z-index--member--image);
            }

            &--number {
              color: var(--color--font--role-image);
              font-size: 1rem;
              grid-column: 4;
              grid-row: 3;
              line-height: 1;
              z-index: var(--z-index--member--text);
            }

            &--times {
              align-items: flex-end;
              color: var(--color--font--role-image);
              display: inline-flex;
              font-size: 0.75rem;
              grid-column: 3;
              grid-row: 3;
              justify-content: center;
              line-height: 1;
              z-index: var(--z-index--member--text);
            }
          }
        }
      }

      &--member-select {
        border: solid 1px var(--color--border);
        box-sizing: border-box;
        display: grid;
        grid-area: mem;
        grid-template-areas:
          'robot human'
          'A A'
          'B B'
          'C C';
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        width: 100%;

        &--robot {
          align-items: center;
          border: solid 1px var(--color--border);
          display: inline-flex;
          font-size: inherit;
          grid-area: robot;
          justify-content: center;
          margin: 1rem 0 1rem 1rem;
          padding: 1rem;
          text-align: center;

          &--select {
            font-size: inherit;
            margin-left: 1rem;
            width: calc(100% - 4rem - 10px);

            & > .lo--react-select__menu {
              z-index: var(--z-index--village--select);
            }
          }

          &.invalid {
            border-color: red;
          }
        }

        &--human {
          align-items: center;
          border: solid 1px var(--color--border);
          display: inline-flex;
          font-size: inherit;
          grid-area: human;
          justify-content: center;
          margin: 1rem 1rem 1rem 0;
          padding: 1rem;
          text-align: center;
        }

        &--role {
          display: grid;
          grid-area: role;
          grid-template-columns: 48px repeat(8, minmax(67px, 1fr));
          margin: 0 4px 0 0;
          overflow: auto;
          padding: 8px 4px 8px 8px;

          &[data-opt = 'A'] {
            grid-area: A;
          }

          &[data-opt = 'B'] {
            grid-area: B;
          }

          &[data-opt = 'C'] {
            grid-area: C;
          }

          &:hover {
            background: var(--color--hover);
          }

          &--item {
            display: grid;
            font-size: inherit;
            grid-template: 1fr calc(var(--size--role-image) - 16px) 16px 15px 1fr / 1fr calc(var(--size--role-image) - 24px) 12px 12px 1fr;

            &--caption {
              font-size: 10px;
              grid-column: 1 / 6;
              grid-row: 4;
              line-height: 1.5;
              text-align: center;
              word-break: keep-all;
            }

            &--image {
              grid-column: 2 / 4;
              grid-row: 2 / 4;
              height: var(--size--role-image);
              width: var(--size--role-image);
              z-index: var(--z-index--member--image);
            }

            &--number {
              color: var(--color--font--role-image);
              font-size: 1rem;
              grid-column: 4;
              grid-row: 3;
              line-height: 1;
              z-index: var(--z-index--member--text);
            }

            &--times {
              align-items: flex-end;
              color: var(--color--font--role-image);
              display: inline-flex;
              font-size: 0.75rem;
              grid-column: 3;
              grid-row: 3;
              justify-content: center;
              line-height: 1;
              z-index: var(--z-index--member--text);
            }
          }

          &--radio {
            align-items: center;
            display: inline-flex;
            justify-content: space-around;
            left: 0;
            position: sticky;
          }
        }
      }

      &--transition {
        &-appear {
          opacity: 0;
        }

        &-appear-active {
          opacity: 1;
          transition: opacity 0.5s ease-out;
        }

        &-enter {
          opacity: 0;
        }

        &-enter-active {
          opacity: 1;
          transition: opacity 0.5s ease-out;
        }

        &-exit {
          opacity: 1;
        }

        &-exit-active {
          opacity: 0;
          transition: opacity 0.3s ease-in;
        }
      }
    }
  }
}
