* {
  margin: 0;
}

body {
  font-family: 'Noto Sans Japanese', 'ＭＳ ゴシック', 'Osaka-Mono', 'monospace', 'sans-serif';
  @import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
}

.menu {
  list-style-type: none;
  padding: 1rem;

  &--item {
    border: 1px solid black;
    font-size: 4rem;
    margin: 1.5rem 10rem;
    padding: 1rem;
    text-align: center;
  }
}

.compact-menu {
  list-style-type: none;
  padding: 0;

  &--item {
    border: 1px solid black;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem 2rem;
  grid-template-areas:
    'header avatar'
    'main aside';
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
}

.main-content {
  grid-area: main;
}

.aside-content {
  grid-area: aside;
}

.header {
  font-size: 3rem;
  grid-area: header;
  padding: 1rem;
}

.avatar {
  align-items: center;
  display: inline-flex;
  grid-area: avatar;

  &--image {
    height: 3rem;
  }

  &--name {
    font-size: 2.5rem;
  }
}

.village {
  list-style-type: none;
  padding: 0;

  &--item {
    border: solid 1px black;
    display: grid;
    font-size: 2rem;
    grid-template-areas:
      'v-n-p v-n-v i-f-s'
      'h-n-p h-n-v h-n-v'
      's-p s-v1 s-v2'
      'mem mem mem'
      'c-p c-v c-v';
    margin-bottom: 0.5rem;

    &.build {
      grid-template-areas:
        'v-n-p v-n-v v-n-v'
        'h-n-p h-n-v h-n-v'
        's-p s-v1 s-v2'
        'mem mem mem'
        'c-p c-v c-v';
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--village-name {
      &--prop {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        grid-area: v-n-p;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--val {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: v-n-v;
        justify-content: center;
        padding: 1rem;
        text-align: center;

        &.invalid {
          border-color: red;
        }

        &:invalid {
          color: red;
          outline-color: red;
          outline-offset: -2px;
        }
      }
    }

    &--idForSearching {
      align-items: center;
      border: solid 1px black;
      display: inline-flex;
      grid-area: i-f-s;
      justify-content: center;
    }

    &--host-name {
      &--prop {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        grid-area: h-n-p;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--val {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: h-n-v;
        justify-content: center;
        padding: 1rem;
        text-align: center;

        &.invalid {
          border-color: red;
        }

        &:invalid {
          color: red;
          outline-color: red;
          outline-offset: -2px;
        }
      }
    }

    &--setup {
      &--prop {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        grid-area: s-p;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--val1 {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: s-v1;
        justify-content: center;
        text-align: center;

        &.invalid {
          border-color: red;
        }

        &--select {
          font-size: inherit;
          width: 100%;
        }
      }

      &--val2 {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: s-v2;
        justify-content: center;
        text-align: center;

        &.invalid {
          border-color: red;
        }

        &--select {
          font-size: inherit;
          width: 100%;
        }
      }
    }

    &--member {
      border: solid 1px black;
      display: grid;
      grid-area: mem;
      grid-template-areas:
        'robot human'
        'role role';
      padding: 1rem;

      &--robot {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: robot;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--human {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: human;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--role {
        display: grid;
        grid-area: role;
        grid-template-columns: repeat(8, 1fr);
        margin-top: 0.5rem;

        &--item {
          font-size: inherit;
          position: relative;

          &:hover::after {
            align-items: center;
            background: white;
            border: solid 1px black;
            bottom: 10%;
            content: attr(data-tooltip);
            display: inline-flex;
            font-size: small;
            justify-content: center;
            left: 10%;
            position: absolute;
            right: 15%;
            top: 15%;
          }
        }
      }
    }

    &--selectable-member {
      border: solid 1px black;
      display: grid;
      grid-area: mem;
      grid-template-areas:
        'robot human'
        'role role'
        'A A'
        'B B'
        'C C';
      grid-template-columns: 1fr 1fr;
      padding: 1rem;

      &--robot {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: robot;
        justify-content: center;
        padding: 1rem;
        text-align: center;

        &--select {
          font-size: inherit;
          padding-left: 1rem;
          width: 100%;
        }

        &.invalid {
          border-color: red;
        }
      }

      &--human {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: human;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--role {
        display: grid;
        grid-area: role;
        grid-template-columns: 3rem repeat(8, 1fr);
        margin-top: 0.5rem;

        &[ data-opt = 'A'] {
          grid-area: A;
        }

        &[ data-opt = 'B'] {
          grid-area: B;
        }

        &[ data-opt = 'C'] {
          grid-area: C;
        }

        &--item {
          font-size: inherit;
          position: relative;

          &:hover::after {
            align-items: center;
            background: white;
            border: solid 1px black;
            bottom: 10%;
            content: attr(data-tooltip);
            display: inline-flex;
            font-size: small;
            justify-content: center;
            left: 10%;
            position: absolute;
            right: 15%;
            top: 15%;
          }
        }

        &--radio {
          align-items: center;
          display: inline-flex;
          justify-content: space-around;
        }
      }
    }

    &--comment {
      &--prop {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        grid-area: c-p;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }

      &--val {
        align-items: center;
        border: solid 1px black;
        display: inline-flex;
        font-size: inherit;
        grid-area: c-v;
        justify-content: center;
        padding: 1rem;
        text-align: center;

        &.invalid {
          border-color: red;
        }

        &:invalid {
          color: red;
          outline-color: red;
          outline-offset: -2px;
        }
      }
    }
  }
}

.avatar-list {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 1rem;

  &--item {
    border-bottom: 1px solid black;
    display: grid;
    font-size: 1.5rem;
    grid-gap: 0.5rem;
    grid-template-columns: 2rem 3fr 1fr;

    &--image {
      height: 2rem;
      width: 2rem;
    }

    &--name {
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }

    &--host {
      border: 1px solid black;
      border-radius: 1rem;
      margin: 2px;
      text-align: center;
    }

    &.me {
      background: lightcyan;
    }
  }
}

.id-search {
  font-size: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--input {
    height: 4.5rem; /* font-size * line-height */
    width: 12rem; /* (number_of_digit + 1) * font-size */
    text-align: center;
    font-size: 3rem;
  }
  &--input:invalid + &--validity::after {
    content: '✖';
    color: #f00;
    padding-left: 0.5rem;
  }
  &--input:valid + &--validity::after {
    content: '✓';
    color: #26b72b;
    padding-left: 0.5rem;
  }
  &--sharp {
    padding-right: 0.5rem
  }
}

.advanced-search {
  border: black solid 1px;
  display: grid;
  font-size: 3rem;
  &--prop {
    align-items: center;
    border: black solid 1px;
    display: inline-flex;
    grid-column: 1 / 2;

    & > input {
      margin: 0 1rem;
    }
  }
  &--input {
    border: black solid 1px;
    box-sizing: border-box;
    font-size: 3rem;
    grid-column: 2 / 5;
    text-align: center;
    width: 100%;

    textarea& {
      resize: vertical;
    }

    &:invalid {
      color: red;
      outline-color: red;
      outline-offset: -2px;
    }
  }
}

.react-select__value-container {
  display: inline-flex;
  justify-content: center;
}
