* {
  margin: 0;
  padding: 0;
}

:root {
  --info-image-size: 50px;
  --prediction-image-size: 50px;
  --result-image-size: 50px;
  --vote-image-size: 50px;
  --modal-image-size: 50px;

  /* 100vw * (2/5) * (1/4) - 2 */
  --chat-image-size: 6vw;
  --arrow: 2vw;
  --public-color: rgba(255, 165, 0, 0.4);
  --private-color: rgba(128, 128, 128, 0.3);
  --limited-color: rgba(255, 0, 0, 0.4);
  --master-color: rgba(0, 255, 0, 0.4);
  --grave-color: rgba(0, 0, 255, 0.3);
  --win-color: hsla(51, 100%, 50%, 0.7);
  --dead-color: red;
}

body {
  font-family: 'Noto Sans Japanese', 'ＭＳ ゴシック', 'Osaka-Mono', 'monospace', 'sans-serif';
}

.activity {
  display: flex;
  grid-area: activity;
  justify-content: space-around;

  &.expand {
    grid-area: activity / 1 / command / 1;
  }
}

.app {
  display: grid;
  gap: 1vh 0;
  grid-template-areas:
    'info'
    'activity'
    'command';
  grid-template-rows: minmax(calc(3.25rem + 19px + 2vh), 12vh) minmax(300px, 68vh) minmax(130px, 20vh);
  height: 100vh;
}

.chat {
  overflow: auto;
  width: 48vw;

  &--arrow-box {
    background: var(--public-color);
    border-radius: 5px;
    display: grid;
    grid-area: text;
    grid-template-areas:
      'num text'
      'icon date';
    grid-template-columns: 2.5rem 1fr;
    position: relative;

    &::after {
      border: solid transparent;
      border-right-color: var(--public-color);
      border-width: var(--arrow);
      content: '';
      height: 0;
      margin-top: calc(var(--arrow) * -1);
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: calc(var(--chat-image-size) / 2);
      width: 0;
    }
  }

  &--agent {
    display: block;
    grid-area: opp;
    margin: 0 var(--arrow) 0 0;
    position: relative;

    & > img {
      height: var(--chat-image-size);
      position: absolute;
      right: 0;
      top: 0;
      width: var(--chat-image-size);
    }

    & > span {
      font-size: x-small;
      overflow: auto;
      position: absolute;
      text-align: center;
      top: var(--chat-image-size);
      width: 100%;
      word-break: keep-all;
    }
  }

  &--date {
    display: inline-flex;
    flex-flow: column-reverse;
    grid-area: date;
    padding: 0 1rem 1rem 0;
    text-align: right;
  }

  &--delimeter {
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 1rem auto 0;
    width: 74%;
  }

  &--icon {
    align-items: center;
    display: flex;
    grid-area: icon;
    justify-content: center;

    & > svg {
      height: calc(100% - 8px);
      margin: 4px;
      width: 100%;
    }
  }

  &--item {
    display: grid;
    grid-template-areas: 'opp text me';
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 1rem;
    min-height: calc(var(--chat-image-size) + 1rem);

    &:first-child {
      margin-top: 0;
    }

    &.grave {
      & > .chat--arrow-box {
        background: var(--grave-color);

        &::after {
          border-right-color: var(--grave-color);
        }
      }
    }

    &.limited {
      & > .chat--arrow-box {
        background: var(--limited-color);

        &::after {
          border-right-color: var(--limited-color);
        }
      }
    }

    &.master {
      & > .chat--arrow-box {
        background: var(--master-color);

        &::after {
          border-right-color: var(--master-color);
        }
      }
    }

    &.me {
      & > .chat--arrow-box::after {
        border-color: transparent;
        border-left-color: var(--public-color);
        left: 100%;
        right: unset;
      }

      &.grave > .chat--arrow-box::after {
        border-left-color: var(--grave-color);
      }

      &.limited > .chat--arrow-box::after {
        border-left-color: var(--limited-color);
      }

      &.master > .chat--arrow-box::after {
        border-left-color: var(--master-color);
      }

      &.private > .chat--arrow-box::after {
        border-left-color: var(--private-color);
      }

      & > .chat--agent {
        grid-area: me;
        margin: 0 0 0 var(--arrow);

        & > img {
          left: unset;
          right: 0;
          transform: scale(-1, 1);
        }
      }
    }

    &.private {
      & > .chat--arrow-box {
        background: var(--private-color);

        &::after {
          border-right-color: var(--private-color);
        }
      }
    }
  }

  &--num {
    align-items: center;
    display: inline-flex;
    grid-area: num;
    justify-content: center;
    padding: 0 0.5rem;
    width: 1.5rem;
    word-break: break-all;
  }

  &--text {
    grid-area: text;
    padding: 1rem 1rem 1rem 0;
    word-break: break-all;
  }
}

.command {
  display: flex;
  grid-area: command;
  justify-content: space-around;
  position: relative;
  z-index: 2;

  &--input {
    display: grid;
    gap: 10px;
    grid-template:
      'input input input input' auto
      'icon . counter send' 2.25rem
      / 2.25rem auto 3rem 20%;
    height: 100%;
    width: 30vw;

    & textarea {
      background: var(--public-color);
      border-radius: 10px;
      box-sizing: border-box;
      grid-area: input;
      padding: 1rem;
      resize: none;
      z-index: 2;
    }

    &--char {
      align-items: flex-end;
      display: inline-flex;
      grid-area: input;
      justify-content: flex-end;
      padding: 5px 10px;
      z-index: 1;

      &.error {
        color: red;
      }
    }

    &--counter {
      align-items: center;
      display: inline-flex;
      font-size: 1.5rem;
      grid-area: counter;
      justify-content: flex-end;
    }

    &--icon {
      align-items: center;
      display: flex;
      grid-area: icon;
      justify-content: left;

      & > svg {
        height: calc(100% - 4px);
        padding: 2px;
        width: 100%;
      }
    }

    &--send {
      background-color: rgb(128, 216, 255);
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 1px 0 grey;
      cursor: pointer;
      grid-area: send;
      width: 90%;

      &:hover {
        filter: opacity(85%);

        &:active {
          box-shadow: inset 2px 2px 1px 0 grey;
          filter: brightness(85%);
        }
      }

      &:disabled {
        box-shadow: inset 2px 2px 1px 0 grey;
        cursor: not-allowed;
        filter: brightness(50%);

        &:hover {
          filter: brightness(50%);

          &:active {
            box-shadow: inset 2px 2px 1px 0 grey;
            filter: brightness(50%);
          }
        }
      }
    }

    &.limited > textarea {
      background: var(--limited-color);
    }

    &.private > textarea {
      background: var(--private-color);
    }
  }

  &--navigation {
    display: grid;
    gap: 0.5rem;
    width: 30vw;

    &--button {
      align-items: center;
      background: lightgreen;
      border: none;
      border-radius: 8px;
      box-shadow: 2px 2px 1px 0 grey;
      cursor: pointer;
      display: inline-flex;
      font-size: 1.5rem;
      justify-content: center;
      overflow: hidden;
      padding: 0.5rem;

      &:hover {
        filter: opacity(85%);

        &:active {
          box-shadow: inset 2px 2px 1px 0 grey;
          filter: brightness(85%);
        }
      }
    }
  }

  &--selection {
    height: 100%;
    width: 100%;

    &--description {
      font-size: 1.5rem;
      line-height: 1.5;
      padding: 0 1rem;
    }

    &--select {
      display: grid;
      grid-auto-columns: minmax(70px, min-content);
      grid-auto-flow: column;
      height: calc(100% - 1.5rem);
      overflow: auto;
    }

    &--option {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: center;
      width: 100%;

      &--image {
        height: var(--vote-image-size);
        width: var(--vote-image-size);
      }

      &--name {
        font-size: 10px;
      }

      &:hover {
        filter: opacity(80%);

        &:active {
          filter: brightness(85%);
        }
      }

      &.fixed {
        cursor: default;

        &:hover {
          filter: unset;

          &:active {
            filter: unset;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.hide-button {
  grid-area: command;
  position: relative;
  z-index: 1;

  &--button {
    background: #303030;
    border: 0;
    border-radius: 4px;
    height: 24px;
    left: 0;
    position: absolute;
    top: -24px;
    width: 48px;

    &:focus {
      outline: unset;
    }

    &.hide {
      bottom: 0;
      top: unset;

      & > svg {
        transform: rotate(0.5turn);
      }
    }

    & > svg {
      fill: white;
      width: 100%;
    }
  }
}

.info {
  display: grid;
  gap: 0 2rem;
  grid-area: info;
  grid-template-areas:
    '. . .'
    'day roleIcon roleText'
    '. roleIcon .';
  grid-template-columns: 3fr var(--info-image-size) 2fr;
  grid-template-rows: 2vh minmax(calc(3.25rem + 4px), 5vh) minmax(15px, auto);
  height: 100%;

  &--day {
    display: flex;
    grid-area: day;
    height: 5vh;
    justify-content: center;
    min-height: calc(3.25rem + 4px);

    &--text {
      border: 2px solid black;
      border-radius: 1.5rem;
      display: grid;
      font-size: 1.5rem;
      grid-template-columns: 1fr 1fr;
      min-height: 2.25rem;
      padding: 0.5rem 1.5rem;
      width: 15rem;

      & > span {
        align-items: center;
        display: inline-flex;
        justify-content: center;
      }
    }
  }

  &--role {
    display: flex;
    justify-content: center;
    min-height: 3.25rem;

    &--icon {
      grid-area: roleIcon;
      width: var(--info-image-size);

      &--image {
        display: block;
        height: var(--info-image-size);
        width: var(--info-image-size);
      }

      &--name {
        display: block;
        font-size: xx-small;
        text-align: center;
        width: 100%;
      }
    }

    &--text {
      align-items: center;
      border: 2px solid black;
      border-radius: 1.5rem;
      display: inline-flex;
      font-size: 1.5rem;
      grid-area: roleText;
      justify-content: center;
      min-height: 2.25rem;
      padding: 0.5rem 1.5rem;
      width: 15rem;

      & > span {
        &::before {
          content: '【';
        }

        &::after {
          content: '】';
        }
      }
    }
  }
}

.obfucator {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.prediction {
  border: 1px solid black;
  border-radius: 3px;
  display: grid;
  grid: 1fr / 1fr;
  max-height: 100%;
  max-width: 48vw;
  overflow: auto;

  & > div {
    border: solid 1px black;
  }

  &--item {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;

    &.fixed {
      box-shadow: inset 0 0 0 4px red;
      cursor: default;
    }

    & > svg {
      height: 100%;
      width: 100%;
    }

    &[ data-state = 'fill' ] {
      background: black;
      cursor: default;
      font-size: 1.5rem;

      &::after {
        color: white;
        content: attr(data-date);
      }
    }
  }

  &--player {
    display: grid;
    grid-template-areas:
      '. . .'
      '. image .'
      'name name name'
      '. . .';
    grid-template-rows: 1fr var(--prediction-image-size) 15px 1fr;
    grid-template-columns: 1fr var(--prediction-image-size) 1fr;

    &.dead {
      background-color: red;
      color: white;
    }

    &--image {
      grid-area: image;
      height: var(--prediction-image-size);
      width: var(--prediction-image-size);
    }

    &--name {
      font-size: 10px;
      grid-area: name;
      line-height: 1.5;
      text-align: center;
    }
  }

  &--role {
    display: grid;
    grid-template: 1fr calc(var(--prediction-image-size) - 16px) 16px 15px 1fr / 1fr calc(var(--prediction-image-size) - 24px) 12px 12px 1fr;

    &--caption {
      font-size: 10px;
      grid-column: 1 / 6;
      grid-row: 4;
      line-height: 1.5;
      text-align: center;
    }

    &--image {
      grid-column: 2 / 4;
      grid-row: 2 / 4;
      height: var(--prediction-image-size);
      width: var(--prediction-image-size);
    }

    &--times {
      align-items: flex-end;
      color: #fefefe;
      display: inline-flex;
      font-size: 0.75rem;
      grid-column: 3;
      grid-row: 3;
      justify-content: center;
      line-height: 1;
    }

    &--number {
      color: #fefefe;
      font-size: 1rem;
      grid-column: 4;
      grid-row: 3;
      line-height: 1;
    }
  }
}

.result {
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: calc(var(--result-image-size) + 1.5rem + 2px) 1fr 1fr calc(var(--result-image-size) + 1.5rem + 2px) calc(5px + var(--result-image-size) + 1.5rem) 1fr;
  left: 5vw;
  max-height: 90vh;
  overflow: auto;
  position: fixed;
  top: 5vh;
  width: 90vw;
  z-index: 4;

  &--cell {
    border: 1px solid black;
    font-size: 2rem;
    height: 100%;
    line-height: 1.5;
    max-height: var(--result-image-size);
    overflow: auto;
    padding: 0.75rem;
    text-align: center;

    &--summary {
      grid-column: 1 / 7;
    }

    &--caption {
      grid-column: 1 / 7;
      padding-top: 2rem;
    }

    &--avatarImage {
      align-items: center;
      border-left: 4px double black;
      display: inline-flex;
      overflow: hidden;

      & > img {
        height: var(--result-image-size);
        width: var(--result-image-size);
      }
    }

    &--image {
      align-items: center;
      display: inline-flex;
      overflow: hidden;

      & > img {
        height: var(--result-image-size);
        width: var(--result-image-size);
      }
    }

    &--roleImage {
      border-right: none;
      display: grid;
      grid-template-areas:
        '. . .'
        '. image .'
        'caption caption caption'
        '. . .';
      grid-template-columns: 1fr var(--result-image-size) 1fr;
      grid-template-rows: minmax(0.5rem, 1fr) var(--result-image-size) 12px auto;
      min-height: calc(var(--result-image-size) + 1.5rem);
      overflow: hidden;
      padding: 0;

      &--caption {
        font-size: 10px;
        grid-area: caption;
        line-height: 1.2;
      }

      & > img {
        grid-area: image;
        height: var(--result-image-size);
        width: var(--result-image-size);
      }
    }

    &.dead {
      color: var(--dead-color);
    }
  }

  &--close {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    filter: opacity(75%);
    height: 1.5rem;
    justify-content: center;
    left: 5vw;
    position: fixed;
    top: 5vh;
    width: 1.5rem;

    & > svg {
      height: 100%;
      width: 100%;
    }

    &:hover {
      filter: opacity(100%);

      &:active {
        filter: opacity(50%);
      }
    }
  }
}

.modal {
  background: #fafafa;
  display: grid;
  gap: 0.5rem 0;
  grid-template-areas:
    '. icon icon icon  .'
    'description description description description description'
    '. yes . no .';
  grid-template-columns: 1fr 5.5rem 1fr 5.5rem 1fr;
  /*
    5.5rem = font-size(1.5rem) * 3 chars + padding-left(0.5rem) + padding-right(0.5rem)
  */
  grid-template-rows: calc(var(--modal-image-size) + 15px) 4.5rem 3.25rem;
  /*
    15px = name's font-size(10px) * name's line-height(1.5)
    4.5rem = font-size(1.5rem) * line-height(1.5) * number of lines(2)
    3.25rem = font-size(1.5rem) * name's line-height(1.5) + padding-top(0.5rem) + padding-bottom(0.5rem)
  */
  left: 25vw;
  padding: 1rem;
  position: fixed;
  top: 30vh;
  width: 50vw;
  z-index: 4;

  &--button {
    border: none;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.5rem;

    &.yes {
      background: rgba(255, 0, 0, 0.5);
      grid-area: yes;
    }

    &.no {
      background: rgba(0, 0, 255, 0.5);
      grid-area: no;
    }

    &:hover {
      filter: opacity(85%);

      &:active {
        filter: brightness(85%);
      }
    }
  }

  &--description {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    grid-area: description;
    justify-content: center;
    text-align: center;
  }

  &--icon {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    grid-area: icon;
    justify-content: center;

    &--image {
      height: var(--modal-image-size);
      width: var(--modal-image-size);
    }

    &--name {
      font-size: 10px;
    }
  }
}
