@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(500%, 0);
  }

  to {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

@keyframes flash {
  from {
    background: white;
    color: black;
  }

  to {
    background: red;
    color: white;
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(1turn);
    transform-origin: center;
  }
}

.vi {

  /* variables */
  --font-size--image-initial: 16px;
  --font-size--image-name: 10px;
  --size--image: 50px;
  --size--image--L: 120px;
  --size--image-initial: 20px;
  --size--image-initial--L: 20px;
  --size--image-name: 15px;
  --size--image-name--L: 15px;
  --size--image: 50px;
  --size--result-image: 50px;
  --size--vote-image: 50px;
  --size--modal-image: 50px;
  --size--image-initial: 20px;
  --arrow: 20px;
  --arrow--border: calc(var(--arrow) + 2px);
  --hide-button-height: 24px;
  --color--chat--private: rgba(128, 128, 128, 0.3);
  --color--chat--werewolf: rgba(255, 0, 0, 0.4);
  --color--chat--master: rgba(0, 255, 0, 0.4);
  --color--chat--grave: rgba(0, 0, 255, 0.3);
  --color--win: hsla(51, 100%, 50%, 0.7);
  --color--suggest: rgb(3, 169, 244);
  --color--silent: rgba(255, 215, 0, 0.8);
  --color--star--unmarked: rgb(158, 158, 158);
  --color--star--marked: rgb(255, 235, 59);

  /* z-index */
  --z-index--background: -1;
  --z-index--command: 2;
  --z-index--command--input--char: 1;
  --z-index--command--input--suggest--list: 3;
  --z-index--command--input--textarea: 2;
  --z-index--prediction--character: 2;
  --z-index--prediction--help: 5;
  --z-index--prediction--item: 0;
  --z-index--prediction--spec: 3;
  --z-index--prediction--role: 4;
  --z-index--prediction--role--image: 0;
  --z-index--prediction--role--times: 1;
  --z-index--prediction--role--number: 1;
  --z-index--result: 7;
  --z-index--result--close: 8;
  --z-index--obfucator: 6;
  --z-index--modal: 9;
  --z-index--hide-button: 1;

  /* properties */
  color: var(--color--font);
  font-family: 'Noto Sans JP', 'ＭＳ ゴシック', 'Osaka-Mono', monospace, sans-serif;

  /* stylelint-disable color-named */
  &.dark {

    /* base */
    --color--danger: rgb(239, 83, 80);
    --color--neutral0: hsl(0, 0%, 0%);
    --color--neutral5: hsl(0, 0%, 5%);
    --color--neutral10: hsl(0, 0%, 10%);
    --color--neutral20: hsl(0, 0%, 20%);
    --color--neutral30: hsl(0, 0%, 30%);
    --color--neutral40: hsl(0, 0%, 40%);
    --color--neutral50: hsl(0, 0%, 50%);
    --color--neutral60: hsl(0, 0%, 60%);
    --color--neutral70: hsl(0, 0%, 70%);
    --color--neutral80: hsl(0, 0%, 80%);
    --color--neutral90: hsl(0, 0%, 90%);
    --color--neutral100: hsl(0, 0%, 100%);
    --color--obfucator: rgba(0, 0, 0, 0.8);
    --color--primary: rgba(38, 132, 255, 1);
    --color--primary25: rgba(38, 132, 255, 0.25);
    --color--primary50: rgba(38, 132, 255, 0.5);
    --color--primary75: rgba(38, 132, 255, 0.75);
    --color--public: rgba(255, 165, 0, 0.4);
    --color--team--villager: rgb(17, 95, 57);
    --color--team--werehamster: rgb(127, 77, 39);
    --color--team--werewolf: rgb(147, 39, 143);

    /* ailias */
    --color--background: var(--color--neutral0);
    --color--border: var(--color--neutral90);
    --color--dead: var(--color--danger);
    --color--font: var(--color--neutral90);
    --color--font--image-initial: var(--color--neutral90);
    --color--font--prediction--fill: var(--color--neutral10);
    --color--prediction--circle: var(--color--danger);
    --color--prediction--cross: var(--color--danger);
    --color--prediction--fill: var(--color--neutral90);
    --color--prediction--question: var(--color--neutral90);
    --color--prediction--triangle: var(--color--danger);
  }

  &.light {

    /* base */
    --color--danger: rgb(244, 67, 54);
    --color--neutral0: hsl(0, 0%, 100%);
    --color--neutral5: hsl(0, 0%, 95%);
    --color--neutral10: hsl(0, 0%, 90%);
    --color--neutral20: hsl(0, 0%, 80%);
    --color--neutral30: hsl(0, 0%, 70%);
    --color--neutral40: hsl(0, 0%, 60%);
    --color--neutral50: hsl(0, 0%, 50%);
    --color--neutral60: hsl(0, 0%, 40%);
    --color--neutral70: hsl(0, 0%, 30%);
    --color--neutral80: hsl(0, 0%, 20%);
    --color--neutral90: hsl(0, 0%, 10%);
    --color--neutral100: hsl(0, 0%, 0%);
    --color--primary: rgba(38, 132, 255, 1);
    --color--primary25: rgba(38, 132, 255, 0.25);
    --color--primary50: rgba(38, 132, 255, 0.5);
    --color--primary75: rgba(38, 132, 255, 0.75);
    --color--public: rgba(255, 165, 0, 0.4);
    --color--obfucator: rgba(0, 0, 0, 0.8);
    --color--team--villager: rgb(17, 95, 57);
    --color--team--werehamster: rgb(127, 77, 39);
    --color--team--werewolf: rgb(147, 39, 143);

    /* ailias */
    --color--background: var(--color--neutral0);
    --color--border: var(--color--neutral90);
    --color--dead: var(--color--danger);
    --color--font: var(--color--neutral90);
    --color--font--image-initial: var(--color--neutral10);
    --color--font--prediction--fill: var(--color--neutral10);
    --color--prediction--circle: var(--color--danger);
    --color--prediction--cross: var(--color--danger);
    --color--prediction--fill: var(--color--neutral90);
    --color--prediction--question: var(--color--neutral90);
    --color--prediction--triangle: var(--color--danger);
  }
  /* stylelint-enable color-named */

  &--activity {
    display: grid;
    grid-area: activity;
    grid-template-areas: 'chat prediction';
    grid-template-columns: 1fr fit-content(50%);
    padding: 0 1rem;

    &.expand {
      grid-area: activity / 1 / command / 1;
    }
  }

  &--background {
    background: var(--color--background);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--z-index--background);
  }

  &--grid {
    display: grid;
    gap: 1vh 0;
    grid-template-areas:
      'info'
      'activity'
      'command';
    grid-template-rows: minmax(90px, 12vh) minmax(300px, 68vh) minmax(130px, 20vh);
    height: 100vh;
    min-width: 900px;
  }

  &--chat {
    grid-area: chat;
    overflow: auto;
    padding: 0 1vw var(--hide-button-height);
    scroll-behavior: smooth;

    &--arrow-box {
      background: var(--color--public);
      border-radius: 5px;
      display: grid;
      grid-area: text;
      grid-template-areas:
        'num text text'
        'star icon day';
      grid-template-columns: 2.5rem 2.5rem 1fr;
      position: relative;

      &::after {
        border: solid transparent;
        border-right-color: var(--color--public);
        border-width: var(--arrow);
        content: '';
        height: 0;
        margin-top: calc(var(--arrow) * -1);
        pointer-events: none;
        position: absolute;
        right: 100%;
        top: calc(var(--size--image) / 2);
        width: 0;
      }
    }

    &--character {
      display: grid;
      grid-area: opp;
      grid-template:
        '. image image .' var(--size--image-initial--L)
        '. image image .' calc(var(--size--image--L) - var(--size--image-initial--L))
        'name name name name' var(--size--image-name--L)
        / 1fr calc(var(--size--image--L) - var(--size--image-initial--L)) var(--size--image-initial--L) 1fr;
      margin: 0 var(--arrow) 0 0;

      &--image {
        display: block;
        grid-area: image;
        height: var(--size--image--L);
        width: var(--size--image--L);
      }

      &--initial {
        color: var(--color--font--image-initial);
        font-size: var(--font-size--image-initial);
        grid-area: 1 / 3;
        line-height: 1.25;
        text-align: center;
        z-index: 2;
      }

      &--name {
        font-size: var(--font-size--image-name);
        grid-area: name;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }
    }

    &--star {
      align-items: center;
      display: flex;
      justify-content: center;

      & > .star {
        fill: transparent;
        height: 75%;
        stroke: var(--color--star--unmarked);
        width: 75%;

        &:hover {
          stroke: var(--color--star--marked);
        }
      }

      &.marked {
        & > .star {
          fill: var(--color--star--marked);
          stroke: var(--color--star--marked);
        }
      }
    }

    &--day {
      display: inline-flex;
      flex-flow: column-reverse;
      grid-area: day;
      padding: 0 1rem 1rem 0;
      text-align: right;
    }

    &--delimeter {
      align-items: center;
      animation: fadein 0.5s ease-out;
      border-bottom: 1px solid rgb(212, 212, 212);
      display: flex;
      font-size: 1.5rem;
      justify-content: center;
      margin: 1rem auto 0;
      width: 74%;
    }

    &--icon {
      align-items: center;
      display: flex;
      grid-area: icon;
      justify-content: center;

      & > svg {
        height: calc(100% - 8px);
        margin: 4px;
        width: 100%;
      }
    }

    &--item {
      animation: fadein 0.5s ease-out;
      display: grid;
      grid-template-areas: 'opp text me';
      grid-template-columns: calc(var(--size--image--L) + var(--arrow)) 1fr calc(var(--size--image--L) + var(--arrow));
      margin-top: 1rem;
      min-height: calc(var(--size--image) + 1rem);

      &:first-child {
        margin-top: 0;
      }

      &.grave {
        & > .vi--chat--arrow-box {
          background: var(--color--chat--grave);

          &::after {
            border-left-color: transparent;
            border-right-color: var(--color--chat--grave);
          }
        }
      }

      &.werewolf {
        & > .vi--chat--arrow-box {
          background: var(--color--chat--werewolf);

          &::after {
            border-left-color: transparent;
            border-right-color: var(--color--chat--werewolf);
          }
        }
      }

      &.master {
        & > .vi--chat--arrow-box {
          background: var(--color--chat--master);

          &::after {
            border-left-color: transparent;
            border-right-color: var(--color--chat--master);
          }
        }
      }

      &.me {
        & > .vi--chat--arrow-box::after {
          border-left-color: var(--color--public);
          border-right-color: transparent;
          left: 100%;
          right: unset;
        }

        &.grave > .vi--chat--arrow-box::after {
          border-left-color: var(--color--chat--grave);
          border-right-color: transparent;
        }

        &.werewolf > .vi--chat--arrow-box::after {
          border-left-color: var(--color--chat--werewolf);
          border-right-color: transparent;
        }

        &.master > .vi--chat--arrow-box::after {
          border-left-color: var(--color--chat--master);
          border-right-color: transparent;
        }

        &.private > .vi--chat--arrow-box::after {
          border-left-color: var(--color--chat--private);
          border-right-color: transparent;
        }

        & > .vi--chat--character {
          grid-area: me;
          margin: 0 0 0 var(--arrow);

          & > img {
            left: unset;
            right: 0;
            transform: scale(-1, 1);
          }
        }
      }

      &.private {
        & > .vi--chat--arrow-box {
          background: var(--color--chat--private);

          &::after {
            border-left-color: transparent;
            border-right-color: var(--color--chat--private);
          }
        }
      }
    }

    &--num {
      align-items: center;
      display: inline-flex;
      grid-area: num;
      justify-content: center;
      padding: 0 0.5rem;
      width: 1.5rem;
      word-break: break-all;
    }

    &--text {
      grid-area: text;
      padding: 1rem 1rem 1rem 0;

      &--chunk {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        word-break: break-all;
      }
    }
  }

  &--command {
    display: flex;
    grid-area: command;
    justify-content: space-around;
    position: relative;
    z-index: var(--z-index--command);

    &--input {
      display: grid;
      gap: 10px;
      grid-template:
        'input input input input' auto
        'icon . counter send' 2.25rem
        / 2.25rem auto 3rem 20%;
      height: 100%;
      width: 30vw;

      &--char {
        align-items: flex-end;
        display: inline-flex;
        grid-area: input;
        justify-content: flex-end;
        padding: 5px 10px;
        z-index: var(--z-index--command--input--char);

        &.error {
          color: red;
        }
      }

      &--counter {
        align-items: center;
        display: inline-flex;
        font-size: 1.5rem;
        grid-area: counter;
        justify-content: flex-end;
      }

      &--icon {
        align-items: center;
        display: flex;
        grid-area: icon;
        justify-content: left;

        & > svg {
          height: calc(100% - 4px);
          padding: 2px;
          width: 100%;
        }
      }

      &--send {
        background-color: rgb(128, 216, 255);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 1px 0 grey;
        cursor: pointer;
        grid-area: send;
        width: 90%;

        &:hover {
          filter: opacity(85%);

          &:active {
            box-shadow: inset 2px 2px 1px 0 grey;
            filter: brightness(85%);
          }
        }

        &:disabled {
          box-shadow: inset 2px 2px 1px 0 grey;
          cursor: not-allowed;
          filter: brightness(50%);

          &:hover {
            filter: brightness(50%);

            &:active {
              box-shadow: inset 2px 2px 1px 0 grey;
              filter: brightness(50%);
            }
          }
        }
      }

      &--suggest {
        &--container {
          grid-area: input;
          height: 100%;
          position: relative;
          width: 100%;
        }

        &--list {
          background: white;
          border: black 1px solid;
          box-sizing: border-box;
          left: 0;
          margin: 1.5rem 0 0;
          max-height: calc(1.15rem * 4);
          min-width: 5rem;
          overflow: hidden;
          position: absolute;
          top: 0;
          z-index: var(--z-index--command--input--suggest--list);

          &:hover {
            overflow: auto;
          }
        }

        &--item {
          background: white;
          line-height: 1.15;
          padding: 0 0.25rem;

          &.selected {
            background: var(--color--suggest);
            color: white;
          }

          &:hover {
            background: var(--color--suggest);
            color: white;
          }
        }
      }

      &--textarea {
        background: var(--color--public);
        border: 1px solid black;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 1rem;
        grid-area: input;
        height: 100%;
        line-height: 1.5;
        padding: 1rem;
        resize: none;
        width: 100%;
        z-index: var(--z-index--command--input--textarea);

        &.grave {
          background: var(--color--chat--grave);
        }

        &.werewolf {
          background: var(--color--chat--werewolf);
        }

        &.private {
          background: var(--color--chat--private);
        }
      }
    }

    &--navigation {
      display: grid;
      gap: 0.5rem 1rem;
      grid-template-areas:
        'show-result next-game'
        'show-result return-to-lobby';

      &--button {
        align-items: center;
        background: lightgreen;
        border: none;
        border-radius: 8px;
        box-shadow: 2px 2px 1px 0 grey;
        cursor: pointer;
        display: inline-flex;
        font-size: 1.5rem;
        justify-content: center;
        min-width: 15vw;
        overflow: hidden;
        padding: 0.5rem;

        &.show-result {
          grid-area: show-result;
        }

        &.next-game {
          grid-area: next-game;
        }

        &.return-to-lobby {
          grid-area: return-to-lobby;

          &.expand {
            grid-area: next-game / return-to-lobby / return-to-lobby;
          }
        }

        &.isLoading {
          box-shadow: inset 2px 2px 1px 0 grey;
          cursor: wait;
          filter: brightness(50%);

          & > .loader {
            height: 2.25rem;
            width: 2.25rem;
          }

          &:hover {
            filter: brightness(50%);

            &:active {
              filter: brightness(50%);
            }
          }
        }

        &:disabled {
          box-shadow: inset 2px 2px 1px 0 grey;
          cursor: not-allowed;
          filter: brightness(50%);

          &:hover {
            filter: brightness(50%);

            &:active {
              filter: brightness(50%);
            }
          }
        }

        &:hover {
          filter: opacity(85%);

          &:active {
            box-shadow: inset 2px 2px 1px 0 grey;
            filter: brightness(85%);
          }
        }
      }
    }

    &--selection {
      height: 100%;
      width: 100%;

      &--description {
        font-size: 1.5rem;
        line-height: 1.5;
        padding: 0 1rem;
      }

      &--select {
        display: grid;
        grid-auto-columns: minmax(70px, min-content);
        grid-auto-flow: column;
        height: calc(100% - 1.5rem);
        overflow: auto;
      }

      &--option {
        cursor: pointer;
        display: grid;
        grid-template:
          '. . . .' 1fr
          '. image image .' var(--size--image-initial)
          '. image image .' calc(var(--size--vote-image) - var(--size--image-initial))
          'name name name name'
          '. . . .' 1fr
          / 1fr calc(var(--size--vote-image) - var(--size--image-initial)) var(--size--image-initial) 1fr;

        &--image {
          display: block;
          grid-area: image;
          height: var(--size--vote-image);
          width: var(--size--vote-image);
          z-index: 1;
        }

        &--initial {
          color: var(--color--font--image-initial);
          font-size: var(--font-size--image-initial);
          grid-area: 2 / 3;
          line-height: 1.25;
          text-align: center;
          z-index: 2;
        }

        &--name {
          font-size: 10px;
          grid-area: name;
          line-height: 1.5;
          overflow: auto;
          text-align: center;
          word-break: keep-all;
        }

        &:hover {
          filter: opacity(80%);

          &:active {
            filter: brightness(85%);
          }
        }

        &.fixed {
          animation: fadein 0.4s 2 alternate-reverse ease-in;
          cursor: default;

          &:hover {
            filter: unset;

            &:active {
              filter: unset;
            }
          }
        }

        &--transition {
          &-appear {
            opacity: 0;
            transform: translate(500%, 0);
          }

          &-appear-active {
            opacity: 1;
            transform: translate(0, 0);
            transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
          }

          &-enter {
            opacity: 0;
            transform: translate(500%, 0);
          }

          &-enter-active {
            opacity: 1;
            transform: translate(0, 0);
            transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
          }

          &-exit {
            opacity: 1;
          }

          &-exit-active {
            opacity: 0;
            transition: opacity 0.4s ease-out;
          }
        }
      }
    }

    &.hidden {
      display: none;
      visibility: hidden;
    }
  }

  &--hide-button {
    grid-area: command;
    position: relative;
    z-index: var(--hide-button--z-index);

    &--button {
      background: rgb(48, 48, 48);
      border: 0;
      border-radius: 4px;
      height: var(--hide-button-height);
      left: 0;
      padding: 0;
      position: absolute;
      top: -24px;
      width: 48px;

      &:focus {
        outline: unset;
      }

      &.hide {
        bottom: 0;
        top: unset;

        & > svg {
          transform: rotate(0.5turn);
        }
      }

      & > svg {
        fill: white;
        width: 100%;
      }
    }
  }

  &--info {
    display: grid;
    gap: 0;
    grid-area: info;
    grid-template-areas: 'day property-character character property-role role property-team team';
    grid-template-columns: minmax(405px, 3fr) minmax(135px, 1fr) calc(var(--size--image) + 40px) minmax(135px, 1fr) calc(var(--size--image) + 40px) minmax(135px, 1fr) calc(var(--size--image) + 40px);
    height: 100%;

    &--character {
      animation: fadein 0.5s ease-out;
      display: grid;
      grid-area: character;
      grid-template:
        '. . . .' 1fr
        '. . . .' var(--size--image-name)
        '. image image .' var(--size--image-initial)
        '. image image .' calc(var(--size--image) - var(--size--image-initial))
        'name name name name' var(--size--image-name)
        '. . . .' 1fr
        / 1fr calc(var(--size--image) - var(--size--image-initial)) var(--size--image-initial) 1fr;

      &--image {
        display: block;
        grid-area: image;
        height: var(--size--image);
        width: var(--size--image);
      }

      &--initial {
        color: var(--color--font--image-initial);
        font-size: var(--font-size--image-initial);
        grid-area: 3 / 3;
        line-height: 1.25;
        text-align: center;
        z-index: 2;
      }

      &--name {
        display: block;
        font-size: var(--font-size--image-name);
        grid-area: name;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }
    }

    &--day {
      align-items: center;
      display: flex;
      grid-area: day;
      justify-content: center;
      min-height: calc(3.25rem + 4px);

      &--text {
        border: 2px solid var(--color--border);
        border-radius: 1.5rem;
        display: grid;
        font-size: 1.5rem;
        grid-template-columns: 1fr 1fr;
        min-height: 2.25rem;
        min-width: calc(90% - 3rem);
        padding: 0.5rem 1.5rem;

        & > span {
          align-items: center;
          display: inline-flex;
          justify-content: center;
        }
      }
    }

    &--property {
      align-items: center;
      display: inline-flex;
      font-size: 1.5rem;
      justify-content: flex-end;

      &.character {
        grid-area: property-character;
      }

      &.role {
        grid-area: property-role;
      }

      &.team {
        grid-area: property-team;
      }
    }

    &--role {
      animation: fadein 0.5s ease-out;
      display: grid;
      grid-area: role;
      grid-template:
        '. . .' 1fr
        '. . .' var(--size--image-initial)
        '. image .' var(--size--image)
        'name name name' var(--size--image-initial)
        '. . .' 1fr
        / 1fr var(--size--image) 1fr;

      &--image {
        display: block;
        grid-area: image;
        height: var(--size--image);
        width: var(--size--image);
      }

      &--name {
        display: block;
        font-size: var(--font-size--image-name);
        grid-area: name;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }
    }

    &--team {
      animation: fadein 0.5s ease-out;
      display: grid;
      grid-area: team;
      grid-template:
        '. . .' 1fr
        '. . .' var(--size--image-name)
        '. image .' var(--size--image)
        'name name name' var(--size--image-name)
        '. . .' 1fr
        / 1fr var(--size--image) 1fr;

      &--image {
        display: block;
        grid-area: image;
        height: var(--size--image);
        width: var(--size--image);

        &.teamVillager {
          fill: var(--color--team--villager);
        }

        &.teamWerehamster {
          fill: var(--color--team--werehamster);
        }

        &.teamWerewolf {
          fill: var(--color--team--werewolf);
        }
      }

      &--name {
        display: block;
        font-size: var(--font-size--image-name);
        grid-area: name;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }
    }
  }

  &--modal {
    background: rgb(250, 250, 250);
    display: grid;
    gap: 0.5rem 0;
    grid-template-areas:
      '. icon icon icon  .'
      'description description description description description'
      '. yes . no .';
    grid-template-columns: 1fr 5.5rem 1fr 5.5rem 1fr;
    /*
      5.5rem = font-size(1.5rem) * 3 chars + padding-left(0.5rem) + padding-right(0.5rem)
    */
    grid-template-rows: calc(var(--size--modal-image) + 15px) 4.5rem 3.25rem;
    /*
      15px = name's font-size(10px) * name's line-height(1.5)
      4.5rem = font-size(1.5rem) * line-height(1.5) * number of lines(2)
      3.25rem = font-size(1.5rem) * name's line-height(1.5) + padding-top(0.5rem) + padding-bottom(0.5rem)
    */
    left: 25vw;
    padding: 1rem;
    position: fixed;
    top: 30vh;
    width: 50vw;
    z-index: var(--modal--z-index);

    &--button {
      border: none;
      font-size: 1.5rem;
      line-height: 1.5;
      padding: 0.5rem;

      &.yes {
        background: rgba(255, 0, 0, 0.5);
        grid-area: yes;
      }

      &.no {
        background: rgba(0, 0, 255, 0.5);
        grid-area: no;
      }

      &:hover {
        filter: opacity(85%);

        &:active {
          filter: brightness(85%);
        }
      }
    }

    &--description {
      align-items: center;
      display: inline-flex;
      flex-wrap: wrap;
      font-size: 1.5rem;
      grid-area: description;
      justify-content: center;
      text-align: center;
    }

    &--icon {
      display: grid;
      grid-area: icon;
      grid-template:
        '. image image .' var(--size--image-initial)
        '. image image .' calc(var(--size--modal-image) - var(--size--image-initial))
        'name name name name'
        / 1fr calc(var(--size--modal-image) - var(--size--image-initial)) var(--size--image-initial) 1fr;

      &--image {
        display: block;
        grid-area: image;
        height: var(--size--modal-image);
        width: var(--size--modal-image);
        z-index: 1;
      }

      &--initial {
        color: var(--color--font--image-initial);
        font-size: var(--font-size--image-initial);
        grid-area: 1 / 3;
        line-height: 1.25;
        text-align: center;
        z-index: 2;
      }

      &--name {
        font-size: 10px;
        grid-area: name;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }
    }

    &--transition {
      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transition: opacity 0.5s ease-out;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }

  &--obfucator {
    align-items: center;
    background: var(--color--obfucator);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--obfucator--z-index);

    &--loader {
      height: 10%;
      width: 10%;
    }

    &--transition {
      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transition: opacity 0.5s ease-out;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }

  &--prediction {
    animation: fadein 0.5s ease-out;
    border: solid 1px var(--color--border);
    display: grid;
    grid: 1fr / 1fr;
    grid-area: prediction;
    max-height: 100%;
    max-width: 47vw;
    overflow: auto;
    position: relative;

    &--character {
      background: var(--color--background);
      border: solid 1px var(--color--border);
      box-sizing: border-box;
      display: grid;
      grid-template:
        '. . . .' 1fr
        '. image image .' var(--size--image-initial)
        '. image image .' calc(var(--size--image) - var(--size--image-initial))
        'name name name name' var(--size--image-name)
        '. . . .' 1fr
        / 1fr calc(var(--size--image) - var(--size--image-initial)) var(--size--image-initial) 1fr;
      left: 0;
      position: sticky;
      z-index: var(--z-index--prediction--character);

      &.dead {
        animation: flash 0.4s 19 alternate cubic-bezier(0.4, 0, 0.2, 1);
        background-color: var(--color--dead);
        color: white;
      }

      &.silent {
        background-color: var(--color--silent);
      }

      &--image {
        grid-area: image;
        height: var(--size--image);
        width: var(--size--image);
      }

      &--initial {
        color: var(--color--font--image-initial);
        font-size: var(--font-size--image-initial);
        grid-area: 2 / 3;
        line-height: 1.25;
        text-align: center;
        z-index: 2;
      }

      &--name {
        font-size: var(--font-size--image-name);
        grid-area: name;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }
    }

    &--help {
      align-items: center;
      background: var(--color--background);
      border: solid 1px var(--color--border);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      left: 0;
      position: sticky;
      top: 0;
      z-index: var(--z-index--prediction--help);

      & > .help {
        fill: var(--color--font);
        height: 80%;
        width: 80%;
      }
    }

    &--item {
      align-items: center;
      border: solid 1px var(--color--border);
      box-sizing: border-box;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      z-index: var(--z-index--prediction--item);

      &.fixed {
        box-shadow: inset 0 0 0 4px red;
        cursor: default;
      }

      & > .circle {
        height: 100%;
        width: 100%;

        & > .line {
          fill: var(--color--prediction--circle);
        }
      }

      & > .cross {
        height: 100%;
        width: 100%;

        & > .line {
          stroke: var(--color--prediction--cross);
        }
      }

      & > .question {
        height: 100%;
        width: 100%;

        & > .line {
          fill: var(--color--background);
          stroke: var(--color--prediction--question);
        }
      }

      & > .triangle {
        height: 100%;
        width: 100%;

        & > .line {
          fill: var(--color--prediction--triangle);
        }
      }

      &[data-state = 'fill'] {
        background: var(--color--prediction--fill);
        cursor: default;

        &::after {
          color: var(--color--font--prediction--fill);
          content: attr(data-day);
          font-size: 1.5rem;
        }
      }

      &[data-state = 'circle'] {
        fill: var(--color--prediction--circle);
      }

      &[data-state = 'cross'] {
        fill: var(--color--prediction--cross);
      }

      &[data-state = 'question'] {
        stroke: var(--color--prediction--question);
      }

      &[data-state = 'triangle'] {
        fill: var(--color--prediction--triangle);
      }
    }

    &--role {
      background: var(--color--background);
      border: solid 1px var(--color--border);
      box-sizing: border-box;
      display: grid;
      grid-template: 1fr calc(var(--size--image) - 16px) 16px 15px 1fr / 1fr calc(var(--size--image) - 24px) 12px 12px 1fr;
      position: sticky;
      top: 0;
      z-index: var(--z-index--prediction--role);

      &--name {
        font-size: 10px;
        grid-column: 1 / 6;
        grid-row: 4;
        line-height: 1.5;
        text-align: center;
      }

      &--image {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        height: var(--size--image);
        width: var(--size--image);
        z-index: var(--z-index--prediction--role--image);
      }

      &--times {
        align-items: flex-end;
        color: rgb(254, 254, 254);
        display: inline-flex;
        font-size: 0.75rem;
        grid-column: 3;
        grid-row: 3;
        justify-content: center;
        line-height: 1;
        z-index: var(--z-index--prediction--role--times);
      }

      &--number {
        color: rgb(254, 254, 254);
        font-size: 1rem;
        grid-column: 4;
        grid-row: 3;
        line-height: 1;
        z-index: var(--z-index--prediction--role--number);
      }
    }

    &--spec {
      --left: 0;
      --top: 0;
      position: fixed;
      right: 1rem;
      top: var(--top);
      width: 50%;
      z-index: var(--z-index--prediction--spec);

      &--body {
        background: var(--color--background);
        border: solid 1px var(--color--border);
        border-radius: 0.5rem;
        box-sizing: border-box;
        grid-column: 1 / 3;
        grid-row: 2;
        margin-top: var(--arrow);
        padding: 1rem;
        z-index: var(--z-index--prediction--spec);

        &::after {
          border: var(--arrow) solid transparent;
          border-bottom-color: var(--color--background);
          content: '';
          left: calc(var(--left) - var(--arrow));
          margin-top: calc(var(--arrow) * -1);
          pointer-events: none;
          position: fixed;
          top: calc(var(--top) + 1px);
        }

        &::before {
          border: var(--arrow--border) solid transparent;
          border-bottom-color: var(--color--border);
          content: '';
          left: calc(var(--left) - var(--arrow) - 2px);
          margin-top: calc(var(--arrow--border) * -1);
          pointer-events: none;
          position: fixed;
          top: calc(var(--top) - 1px);
        }
      }
    }
  }

  &--result {
    background: white;
    border: 2px solid var(--color--border);
    border-radius: 8px;
    display: grid;
    grid-template-columns: calc(var(--size--result-image) + 1.5rem + 2px) 1fr 1fr calc(var(--size--result-image) + 1.5rem + 2px) calc(5px + var(--size--result-image) + 1.5rem) 1fr;
    grid-template-rows: 100px;
    left: 5vw;
    max-height: 90vh;
    overflow: auto;
    position: fixed;
    top: 5vh;
    width: 90vw;
    z-index: var(--result--z-index);

    &--cell {
      &--summary {
        align-items: center;
        border: 1px solid var(--color--border);
        display: flex;
        font-size: 2rem;
        grid-column: 1 / 7;
        height: 100%;
        justify-content: center;
        line-height: 1.5;
        overflow: auto;
        text-align: center;

        &--team {
          display: inline-flex;
          flex-direction: column;
          grid-area: team;
          justify-content: center;
          width: 90px;

          &--image {
            display: block;
            height: var(--size--image);
            padding: 15px 20px 0;
            width: var(--size--image);

            &.teamVillager {
              fill: var(--color--team--villager);
            }

            &.teamWerehamster {
              fill: var(--color--team--werehamster);
            }

            &.teamWerewolf {
              fill: var(--color--team--werewolf);
            }
          }

          &--name {
            display: block;
            font-size: 10px;
            text-align: center;
            width: 90px;
          }
        }
      }

      &--caption {
        align-items: center;
        border: 1px solid var(--color--border);
        display: flex;
        font-size: 2rem;
        grid-column: 1 / 7;
        height: 100%;
        justify-content: center;
        line-height: 1.5;
        overflow: auto;
        text-align: center;

        &--team {
          display: inline-flex;
          flex-direction: column;
          grid-area: team;
          justify-content: center;
          margin: 0.5rem 0;

          &--image {
            display: block;
            height: var(--size--image);
            padding: 15px 20px 0;
            width: var(--size--image);

            &.teamVillager {
              fill: var(--color--team--villager);
            }

            &.teamWerehamster {
              fill: var(--color--team--werehamster);
            }

            &.teamWerewolf {
              fill: var(--color--team--werewolf);
            }
          }

          &--name {
            display: block;
            font-size: 10px;
            text-align: center;
            width: 100%;
          }
        }
      }

      &--avatarImage {
        border: 1px solid var(--color--border);
        border-left: 4px double var(--color--border);
        display: grid;
        grid-template:
          '. . .' 1fr
          '. image .' var(--size--result-image)
          '. . .' 1fr
          / 1fr var(--size--result-image) 1fr;
        height: 100%;

        &--image {
          grid-area: image;
          height: var(--size--result-image);
          width: var(--size--result-image);
        }
      }

      &--image {
        border: 1px solid var(--color--border);
        display: grid;
        grid-template:
          '. . . .' 1fr
          '. image image .' var(--size--image-initial)
          '. image image .' calc(var(--size--result-image) - var(--size--image-initial))
          '. . . .' 1fr
          / 1fr calc(var(--size--result-image) - var(--size--image-initial)) var(--size--image-initial) 1fr;
        height: 100%;

        &--image {
          grid-area: image;
          height: var(--size--result-image);
          width: var(--size--result-image);
          z-index: 1;
        }

        &--initial {
          color: var(--color--font--image-initial);
          font-size: var(--font-size--image-initial);
          grid-area: 2 / 3;
          line-height: 1.25;
          text-align: center;
          z-index: 2;
        }
      }

      &--avatarName {
        align-items: center;
        border: 1px solid var(--color--border);
        display: flex;
        font-size: 2rem;
        height: 100%;
        justify-content: center;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
      }

      &--name {
        align-items: center;
        border: 1px solid var(--color--border);
        display: flex;
        font-size: 2rem;
        height: 100%;
        justify-content: center;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
      }

      &--roleImage {
        border: 1px solid var(--color--border);
        border-right: none;
        display: grid;
        grid-template:
          '. . .' 1fr
          '. image .' var(--size--result-image)
          'name name name' minmax(12px, 1fr)
          / 1fr var(--size--result-image) 1fr;
        height: 100%;
        min-height: calc(var(--size--result-image) + 1.5rem);
        overflow: hidden;
        padding: 0;

        &--name {
          font-size: 10px;
          grid-area: name;
          line-height: 1.2;
          overflow: auto;
          text-align: center;
          word-break: keep-all;
        }

        &--image {
          grid-area: image;
          height: var(--size--result-image);
          width: var(--size--result-image);
        }
      }

      &--status {
        align-items: center;
        border: 1px solid var(--color--border);
        display: flex;
        font-size: 2rem;
        height: 100%;
        justify-content: center;
        line-height: 1.5;
        overflow: auto;
        text-align: center;
      }

      &.dead {
        color: var(--color--dead);
      }
    }

    &--close {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      filter: opacity(75%);
      height: 1.5rem;
      justify-content: center;
      left: 5vw;
      position: fixed;
      top: 5vh;
      width: 1.5rem;
      z-index: var(--result--close--z-index);

      & > .close {
        height: 100%;
        width: 100%;

        & > .close--circle {
          fill: white;
        }

        & > .close--path {
          fill: black;
        }
      }


      &:hover {
        filter: opacity(100%);

        &:active {
          filter: opacity(50%);
        }
      }
    }

    &--transition {
      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transition: opacity 0.5s ease-out;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }

  @media (max-width: 1200px) {
    --size--image--L: 100px;
  }

  @media (max-width: 900px) {
    --size--image--L: 80px;
  }
}

.loader.animation {
  animation: 1s linear loader infinite;
}
