* {
  margin: 0;
  padding: 0;
}

:root {
  --info-image-size: 50px;
  --prediction-image-size: 40px;
  --result-image-size: 40px;
  --vote-image-size: 60px;
  --modal-image-size: 60px;
  /* 100vw * (2/5) * (1/4) - 2 */
  --chat-image-size: 6vw;
  --arrow: 2vw;
  --public-color: rgba(255, 165, 0, 0.4);
  --private-color: rgba(128, 128, 128, 0.3);
  --limited-color: rgba(255, 0, 0, 0.4);
  --master-color: rgba(0, 255, 0, 0.4);
  --grave-color: rgba(0, 0, 255, 0.3);
  --win-color: hsla(51, 100%, 50%, 0.7);
  --dead-color: red;
}

body {
  font-family: 'Noto Sans Japanese', 'ＭＳ ゴシック', 'Osaka-Mono', 'monospace', 'sans-serif';
  @import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
}

.activity-container {
  display: flex;
  height: 63vh;
  justify-content: space-around;

  &.expand {
    height: 86vh;
  }
}

.chat {
  overflow: auto;
  width: 48vw;

  &--arrow-box {
    background: var(--public-color);
    border-radius: 5px;
    display: grid;
    grid-area: text;
    grid-template-areas:
      'num text'
      'icon date';
    grid-template-columns: 2.5rem 1fr;
    position: relative;

    &::after {
      border: solid transparent;
      border-left-color: var(--public-color);
      border-width: var(--arrow);
      content: '';
      height: 0;
      left: 100%;
      margin-top: calc(var(--arrow) * -1);
      pointer-events: none;
      position: absolute;
      top: calc(var(--chat-image-size) / 2);
      width: 0;
    }
  }

  &--agent {
    display: block;
    grid-area: opp;
    margin: 0 0 0 var(--arrow);
    position: relative;

    & > img {
      height: var(--chat-image-size);
      position: absolute;
      right: 0;
      top: 0;
      width: var(--chat-image-size);
    }

    & > span {
      font-size: x-small;
      overflow: auto;
      position: absolute;
      text-align: center;
      top: var(--chat-image-size);
      width: 100%;
      word-break: keep-all;
    }
  }

  &--date {
    display: inline-flex;
    flex-flow: column-reverse;
    grid-area: date;
    padding: 0 1rem 1rem 0;
    text-align: right;
  }

  &--delimeter {
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 1rem auto 0 auto;
    width: 74%;
  }

  &--icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      height: 100%;
      width: 100%;
      margin: 4px;
    }
  }

  &--item {
    display: grid;
    grid-template-areas: 'me text opp';
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 1rem;
    min-height: calc(var(--chat-image-size) + 1rem);

    &:first-child {
      margin-top: 0;
    }

    &.grave {
      & > .chat--arrow-box {
        background: var(--grave-color);

        &::after {
          border-left-color: var(--grave-color);
        }
      }
    }

    &.limited {
      & > .chat--arrow-box {
        background: var(--limited-color);

        &::after {
          border-left-color: var(--limited-color);
        }
      }
    }

    &.master {
      & > .chat--arrow-box {
        background: var(--master-color);

        &::after {
          border-left-color: var(--master-color);
        }
      }
    }

    &.me {
      & > .chat--arrow-box::after {
        border-color: transparent;
        border-right-color: var(--public-color);
        left: unset;
        right: 100%;
      }

      &.grave > .chat--arrow-box::after {
        border-right-color: var(--grave-color);
      }

      &.limited > .chat--arrow-box::after {
        border-right-color: var(--limited-color);
      }

      &.master > .chat--arrow-box::after {
        border-right-color: var(--master-color);
      }

      &.private > .chat--arrow-box::after {
        border-right-color: var(--private-color);
      }

      & > .chat--agent {
        grid-area: me;
        margin: 0 var(--arrow) 0 0;

        & > img {
          left: 0;
          right: unset;
        }
      }
    }

    &.private {
      & > .chat--arrow-box {
        background: var(--private-color);

        &::after {
          border-left-color: var(--private-color);
        }
      }
    }
  }

  &--num {
    align-items: center;
    display: inline-flex;
    grid-area: num;
    justify-content: center;
    padding: 0 0.5rem;
    width: 1.5rem;
    word-break: break-all;
  }

  &--text {
    grid-area: text;
    padding: 1rem 1rem 1rem 0;
    word-break: break-all;
  }
}

.command {
  display: flex;
  height: 20vh;
  justify-content: space-around;
  margin: 2.5vh 0;

  &--description {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  &--input {
    display: grid;
    grid-gap: 10px;
    grid-template: auto 2.25rem / auto 20%;
    height: 100%;
    width: 30vw;

    & textarea {
      background: var(--public-color);
      border-radius: 10px;
      box-sizing: border-box;
      grid-column: 1 / 3;
      grid-row: 1;
      padding: 1rem;
      resize: none;
      z-index: 2;
    }

    &--char {
      align-items: flex-end;
      display: inline-flex;
      grid-column: 1 / 3;
      grid-row: 1;
      justify-content: flex-end;
      padding: 5px 10px;
      z-index: 1;

      &.error {
        color: red;
      }
    }

    &--counter {
      align-items: center;
      display: inline-flex;
      font-size: 1.5rem;
      grid-column: 1;
      grid-row: 2;
      justify-content: flex-end;
    }

    & button {
      background-color: rgb(128, 216, 255);
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 1px 0 grey;
      grid-column: 2;
      grid-row: 2;
      width: 90%;

      &:hover {
        filter: opacity(85%);
      }

      &:active {
        box-shadow: inset 2px 2px 1px 0 grey;
        filter: brightness(85%);
      }

      &:disabled {
        box-shadow: inset 2px 2px 1px 0 grey;
        filter: brightness(50%);

        &:hover {
          border: none;
        }
      }
    }

    &.limited > textarea {
      background: var(--limited-color);
    }

    &.private > textarea {
      background: var(--private-color);
    }
  }

  &--option {
    align-items: center;
    display: inline-flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    width: calc(20vh - 3.45rem);

    & > img {
      height: var(--vote-image-size);
      width: var(--vote-image-size);
    }

    & > span {
      font-size: xx-small;
    }
  }

  &--navigation {
    display: grid;
    grid-gap: 0.5rem;
    width: 30vw;

    &--button {
      align-items: center;
      background: lightgreen;
      border: none;
      border-radius: 8px;
      box-shadow: 2px 2px 1px 0 grey;
      display: inline-flex;
      font-size: 1.5rem;
      justify-content: center;
      overflow: hidden;
      padding: 0.5rem;

      &:hover {
        filter: opacity(85%);
      }

      &:active {
        box-shadow: inset 2px 2px 1px 0 grey;
        filter: brightness(85%);
      }
    }
  }

  &--option-container {
    display: flex;
    height: calc(100% - 1.5rem);
    overflow: auto;
  }

  &--select {
    height: 100%;
    line-height: 1.5;
    width: 100%;
  }

  &.hide {
    position: fixed;
    top: 98vh;
  }
}

.day {
  display: flex;
  grid-area: day;
  height: 5vh;
  justify-content: center;

  &--text {
    border: 2px solid black;
    border-radius: 5rem;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 1fr 1fr;
    height: 5vh;
    padding: 1vh 1.5rem;
    width: 60%;

    & > span {
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.hide-button {
  background: #303030;
  border: 0;
  bottom: 23vh;
  height: 1.5rem;
  position: absolute;
  right: 0;
  width: 4vw;

  &:focus {
    outline: unset;
  }

  &--icon {
    border-color: white transparent;
    border-style: solid;
    border-width: 7px 5px 0;
    margin-left: -2px;
    position: absolute;

    &.hide {
      border-width: 0 4px 5px;
    }
  }

  &.hide {
    bottom: 0;
  }
}

.info {
  display: grid;
  grid-gap: 0 1vw;
  grid-template-areas:
    '. . .'
    'day roleIcon roleText';
  grid-template-columns: 2fr var(--info-image-size) 2fr;
  grid-template-rows: 2vh 10vh;
  max-height: 12vh;
}

.obfucator {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.prediction {
  border: 1px solid black;
  border-radius: 3px;
  display: grid;
  grid: 1fr / 1fr;
  max-height: 100%;
  max-width: 48vw;
  overflow: auto;

  & > div {
    align-items: center;
    border: solid 1px black;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 1.5rem;
    justify-content: center;
  }

  &--item {
    &.fixed {
      box-shadow: inset 0 0 0 4px red;
    }

    & > svg {
      width: 100%;
    }
  }

  &--player {
    flex-direction: column;

    &.dead {
      background-color: red;
      color: white;
    }

    & > img {
      height: var(--prediction-image-size);
      width: var(--prediction-image-size);
    }

    & > span {
      font-size: xx-small;
    }
  }


  & > div[ data-state = 'fill' ] {
    background: black;

    &::after {
      color: white;
      content: attr(data-date);
    }
  }

  & > div[ data-tooltip ] {
    position: relative;

    &:hover::after {
      align-items: center;
      background: white;
      border: solid 1px black;
      bottom: 10%;
      content: attr(data-tooltip);
      display: inline-flex;
      font-size: small;
      justify-content: center;
      left: 10%;
      position: absolute;
      right: 15%;
      top: 15%;
    }
  }
}

.result {
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: calc(var(--result-image-size) + 1rem) 2fr 2fr calc(var(--result-image-size) + 1rem) calc(4px + var(--result-image-size) + 1rem) 2fr;
  left: 10vw;
  max-height: 80vh;
  overflow: auto;
  position: fixed;
  top: 10vh;
  width: 80vw;
  z-index: 4;

  &--cell {
    border: 1px solid black;
    font-size: 2rem;
    height: 100%;
    line-height: 1.5;
    max-height: 3rem;
    overflow: auto;
    padding: 0.5rem;
    text-align: center;

    &[ data-result = 'summary' ] {
      grid-column: 1 / 7;
    }

    &[ data-result = 'caption' ] {
      grid-column: 1 / 7;
      padding-top: 2rem;
    }

    &[ data-result = 'userAvatar' ] {
      border-left: 4px double black;
    }

    &[ data-result = 'image' ],
    &[ data-result = 'roleImage' ],
    &[ data-result = 'userAvatar' ] {
      align-items: center;
      display: inline-flex;
    }

    &[ data-result = 'roleImage' ] {
      border-right: none;

      &[ data-tooltip ] {
        position: relative;

        &:hover::after {
          align-items: center;
          background: white;
          border: solid 1px black;
          bottom: 15%;
          content: attr(data-tooltip);
          display: inline-flex;
          font-size: 10px;
          justify-content: center;
          left: 10%;
          position: absolute;
          right: 10%;
          top: 15%;
        }
      }
    }

    &.dead {
      color: var(--dead-color);
    }
  }

  &--close {
    align-items: center;
    display: inline-flex;
    filter: opacity(75%);
    height: 1.5rem;
    justify-content: center;
    position: fixed;
    right: 10vw;
    top: 10vh;
    width: 1.5rem;

    & > svg {
      height: 100%;
      width: 100%;
    }

    &:hover {
      filter: opacity(100%);
    }

    &:active {
      filter: opacity(50%);
    }
  }
}

.role {
  display: flex;
  justify-content: center;

  &--icon {
    grid-area: roleIcon;
    width: var(--info-image-size);

    & > img {
      display: block;
      height: var(--info-image-size);
      width: var(--info-image-size);
    }

    & > span {
      display: block;
      font-size: xx-small;
      text-align: center;
      width: 100%;
    }
  }

  &--text {
    align-items: center;
    border: 2px solid black;
    border-radius: 5rem;
    display: inline-flex;
    font-size: 1.5rem;
    grid-area: roleText;
    height: 5vh;
    justify-content: center;
    padding: 1vh;
    width: 60%;

    & > span {
      &::before {
        content: '【';
      }

      &::after {
        content: '】';
      }
    }
  }

}

.modal {
  background: #fafafa;
  left: 30vw;
  padding: 1rem;
  position: fixed;
  top: 38vh;
  width: 40vw;
  z-index: 4;

  &--button {
    border: none;
    font-size: 1.5rem;
    width: 30%;

    &:hover {
      filter: opacity(85%);
    }

    &:active {
      filter: brightness(85%);
    }
  }

  &--button[ value = 'yes' ] {
    background: rgba(255, 0, 0, 0.5);
  }

  &--button[ value = 'no' ] {
    background: rgba(0, 0, 255, 0.5);
  }

  &--button--container {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }

  &--description {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &--icon {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: calc(20vh - 3.75rem);
    justify-content: center;
    width: 100%;

    & > img {
      height: var(--modal-image-size);
      width: var(--modal-image-size);
    }

    & > span {
      font-size: xx-small;
    }
  }
}
