.vi--activity {
  display: grid;
  grid-area: activity;
  grid-template-areas: 'chat prediction';
  grid-template-columns: 1fr fit-content(50%);
  padding: 0 1rem;

  &.expand {
    grid-area: activity / 1 / command / 1;
  }
}
