.vi--background {
  background: var(--color--background);
  height: 100vh;
  left: 0;
  min-height: 536px;
  min-width: 900px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index--background);
}
