.vi--grid {
  display: grid;
  grid-template:
    'info info' minmax(106px, 12vh)
    'chat prediction' minmax(300px, 68vh)
    'command command' minmax(130px, 20vh)
    / minmax(450px, 50vw) minmax(450px, 50vw);
  height: 100vh;
  min-height: 536px;
  min-width: 900px;
  padding: 0 8px;
}
