.vi--hide-button {
  grid-area: command;
  position: relative;
  z-index: var(--hide-button--z-index);

  &--button {
    background: rgb(48, 48, 48);
    border: 0;
    border-radius: 4px;
    height: var(--hide-button-height);
    left: 0;
    padding: 0;
    position: absolute;
    top: -24px;
    width: 48px;

    &:focus {
      outline: unset;
    }

    &.hide {
      bottom: 0;
      top: unset;

      & > svg {
        transform: rotate(0.5turn);
      }
    }

    & > svg {
      fill: white;
      width: 100%;
    }
  }
}
