.vi--hide-button {
  grid-area: command;
  position: relative;
  z-index: var(--z-index--hide-button);

  &--button {
    background: rgb(48, 48, 48);
    border: 0;
    border-radius: 4px;
    height: var(--height--hide-button);
    left: 0;
    padding: 0;
    position: absolute;
    top: calc(-1 * var(--height--hide-button));
    width: var(--width--hide-button);

    & > svg {
      fill: white;
      width: 100%;
    }

    &:focus {
      box-shadow: var(--box-shadow--focus-ring);
      outline: none;
    }

    &.hide {
      bottom: 0;
      top: unset;

      & > svg {
        transform: rotate(0.5turn);
      }
    }
  }
}
