@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(500%, 0);
  }

  to {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

@keyframes flash {
  from {
    background: var(--color--background);
    color: var(--color--font);
  }

  to {
    background: var(--color--background--prediction--dead);
    color: var(--color--font--prediction--dead);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(1turn);
    transform-origin: center;
  }
}
