.vi--modal {
  background: var(--color--background);
  border-radius: 8px;
  display: grid;

  /*
    5.5rem = font-size(1.5rem) * 3 chars + padding-left(0.5rem) + padding-right(0.5rem)
    15px = name's font-size(10px) * name's line-height(1.5)
    4.5rem = font-size(1.5rem) * line-height(1.5) * number of lines(2)
    3.25rem = font-size(1.5rem) * name's line-height(1.5) + padding-top(0.5rem) + padding-bottom(0.5rem)
  */
  grid-template:
    '. . . . .' 1fr
    '. icon icon icon  .' calc(var(--size--modal-image) + 15px)
    'description description description description description' fit-content(4.5rem)
    '. yes . no .' 3.25rem
    '. . . . .' 1fr
    / 1fr 5.5rem 1fr 5.5rem 1fr;
  left: 25vw;
  min-height: calc(var(--min-height--window) / 2);
  min-width: calc(var(--min-width--window) / 2);
  padding: 1rem;
  position: absolute;
  top: 30vh;
  width: 50vw;
  z-index: var(--z-index--modal);

  &--button {
    background: var(--color--background--button);
    border: none;
    border-radius: 8px;
    color: var(--color--font--button);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.5rem;

    &.yes {
      grid-area: yes;
    }

    &.no {
      grid-area: no;
    }

    &:focus {
      box-shadow: var(--box-shadow--focus-ring);
      outline: none;
    }

    &:hover {
      background: var(--color--background--button--hover);
    }
  }

  &--description {
    align-items: center;
    color: var(--color--font--modal);
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    grid-area: description;
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }

  &--icon {
    display: grid;
    grid-area: icon;
    grid-template:
      '. image image .' var(--size--image-initial)
      '. image image .' calc(var(--size--modal-image) - var(--size--image-initial))
      'name name name name'
      / 1fr calc(var(--size--modal-image) - var(--size--image-initial)) var(--size--image-initial) 1fr;

    &--image {
      display: block;
      grid-area: image;
      height: var(--size--modal-image);
      width: var(--size--modal-image);
      z-index: 1;
    }

    &--initial {
      color: var(--color--font--image-initial);
      font-size: var(--font-size--image-initial);
      grid-area: 1 / 3;
      line-height: 1.25;
      text-align: center;
      z-index: 2;
    }

    &--name {
      color: var(--color--font--modal);
      font-size: 10px;
      grid-area: name;
      line-height: 1.5;
      overflow: auto;
      text-align: center;
      word-break: keep-all;
    }
  }

  &--transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }
}
