.vi--prediction {
  background: var(--color--background--body);
  grid-area: prediction;
  padding: 8px;

  &--container {
    /* stylelint-disable-next-line no-unknown-animations */
    animation: fadein 0.5s ease-out;
    border: solid 1px var(--color--border);
    box-sizing: border-box;
    display: grid;
    grid: 1fr / 1fr;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    width: fit-content;
  }

  &--character {
    background: var(--color--background--body);
    border: solid 1px var(--color--border);
    box-sizing: border-box;
    display: grid;
    grid-template:
      '. . . .' 1fr
      '. image image .' var(--size--image-initial)
      '. image image .' calc(var(--size--image) - var(--size--image-initial))
      'name name name name' var(--size--image-name)
      '. . . .' 1fr
      / 1fr calc(var(--size--image) - var(--size--image-initial)) var(--size--image-initial) 1fr;
    left: 0;
    position: sticky;
    z-index: var(--z-index--prediction--character);

    &.dead {
      /* stylelint-disable-next-line no-unknown-animations */
      animation: flash 0.4s 19 alternate cubic-bezier(0.4, 0, 0.2, 1);
      background: var(--color--background--prediction--dead);
      color: var(--color--font--prediction--dead);
    }

    &.silent {
      background: var(--color--background--silent);
      color: var(--color--font--silent);
    }

    &--image {
      grid-area: image;
      height: var(--size--image);
      width: var(--size--image);
    }

    &--initial {
      color: var(--color--font--image-initial);
      font-size: var(--font-size--image-initial);
      grid-area: 2 / 3;
      line-height: 1.25;
      text-align: center;
      user-select: none;
      z-index: 2;
    }

    &--name {
      font-size: var(--font-size--image-name);
      grid-area: name;
      line-height: 1.5;
      overflow: auto;
      text-align: center;
      word-break: keep-all;
    }
  }

  &--help {
    align-items: center;
    background: var(--color--background--body);
    border: solid 1px var(--color--border);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    left: 0;
    position: sticky;
    top: 0;
    z-index: var(--z-index--prediction--help);

    & > .help {
      fill: var(--color--font);
      height: 80%;
      width: 80%;
    }
  }

  &--item {
    align-items: center;
    border: solid 1px var(--color--border);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    z-index: var(--z-index--prediction--item);

    &.fixed {
      box-shadow: inset 0 0 0 4px var(--color--danger);
      cursor: default;
    }

    & > .circle {
      height: 100%;
      width: 100%;

      & > .line {
        fill: var(--color--prediction--circle);
      }
    }

    & > .cross {
      height: 100%;
      width: 100%;

      & > .line {
        stroke: var(--color--prediction--cross);
      }
    }

    & > .question {
      height: 100%;
      width: 100%;

      & > .line {
        fill: var(--color--background);
        stroke: var(--color--prediction--question);
      }
    }

    & > .triangle {
      height: 100%;
      width: 100%;

      & > .line {
        fill: var(--color--prediction--triangle);
      }
    }

    &[data-state = 'fill'] {
      background: var(--color--prediction--fill);
      cursor: default;

      &::after {
        color: var(--color--font--prediction--fill);
        content: attr(data-day);
        font-size: 1.5rem;
      }
    }

    &[data-state = 'circle'] {
      fill: var(--color--prediction--circle);
    }

    &[data-state = 'cross'] {
      fill: var(--color--prediction--cross);
    }

    &[data-state = 'question'] {
      stroke: var(--color--prediction--question);
    }

    &[data-state = 'triangle'] {
      fill: var(--color--prediction--triangle);
    }
  }

  &--role {
    background: var(--color--background--body);
    border: solid 1px var(--color--border);
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr calc(var(--size--image) - 16px) 16px 15px 1fr / 1fr calc(var(--size--image) - 24px) 12px 12px 1fr;
    position: sticky;
    top: 0;
    z-index: var(--z-index--prediction--role);

    &--name {
      font-size: 10px;
      grid-column: 1 / 6;
      grid-row: 4;
      line-height: 1.5;
      text-align: center;
    }

    &--image {
      grid-column: 2 / 4;
      grid-row: 2 / 4;
      height: var(--size--image);
      width: var(--size--image);
      z-index: var(--z-index--prediction--role--image);
    }

    &--times {
      align-items: flex-end;
      color: var(--color--font--white);
      display: inline-flex;
      font-size: var(--font-size--image-times);
      grid-column: 3;
      grid-row: 3;
      justify-content: center;
      line-height: 1;
      user-select: none;
      z-index: var(--z-index--prediction--role--times);
    }

    &--number {
      color: var(--color--font--white);
      font-size: var(--font-size--image-number);
      grid-column: 4;
      grid-row: 3;
      line-height: 1;
      user-select: none;
      z-index: var(--z-index--prediction--role--number);
    }
  }

  &--spec {
    --left: 0;
    --top: 0;
    min-width: 450px;
    position: fixed;
    right: 0.5rem;
    top: var(--top);
    width: 50%;
    z-index: var(--z-index--prediction--spec);

    &--body {
      background: var(--color--background);
      border: solid 1px var(--color--border);
      border-radius: 0.5rem;
      box-sizing: border-box;
      grid-column: 1 / 3;
      grid-row: 2;
      margin-top: var(--arrow);
      padding: 1rem;
      z-index: var(--z-index--prediction--spec);

      &::after {
        border: var(--arrow) solid transparent;
        border-bottom-color: var(--color--background);
        content: '';
        left: calc(var(--left) - var(--arrow));
        margin-top: calc(var(--arrow) * -1);
        pointer-events: none;
        position: fixed;
        top: calc(var(--top) + 1px);
      }

      &::before {
        border: var(--arrow--border) solid transparent;
        border-bottom-color: var(--color--border);
        content: '';
        left: calc(var(--left) - var(--arrow) - 2px);
        margin-top: calc(var(--arrow--border) * -1);
        pointer-events: none;
        position: fixed;
        top: calc(var(--top) - 1px);
      }
    }
  }

  &.expand {
    grid-area: prediction / prediction / command / prediction;
  }
}
