.vi--result {
  background: var(--color--background);
  border: 2px solid var(--color--border);
  border-radius: 8px;
  color: var(--color--font);
  display: grid;
  grid-template-columns: calc(var(--size--result-image) + 1.5rem + 2px) 1fr 1fr calc(var(--size--result-image) + 1.5rem + 2px) calc(5px + var(--size--result-image) + 1.5rem) 1fr;
  grid-template-rows: fit-content(100px);
  left: 5vw;
  max-height: 90vh;
  min-width: calc(var(--min-width--window) * 0.9);
  overflow: auto;
  position: absolute;
  top: 5vh;
  width: 90vw;
  z-index: var(--z-index--result);

  &--cell {
    &--summary {
      align-items: center;
      border: 1px solid var(--color--border);
      display: flex;
      font-size: 2rem;
      grid-column: 1 / 7;
      height: 100%;
      justify-content: center;
      line-height: 1.5;
      overflow: auto;
      text-align: center;

      &--team {
        display: inline-flex;
        flex-direction: column;
        grid-area: team;
        justify-content: center;
        width: 90px;

        &--image {
          background: var(--color--background--team);
          display: block;
          height: var(--size--image);
          margin: 15px 20px 0;
          width: var(--size--image);

          &.teamVillager {
            fill: var(--color--team--villager);
          }

          &.teamWerehamster {
            fill: var(--color--team--werehamster);
          }

          &.teamWerewolf {
            fill: var(--color--team--werewolf);
          }
        }

        &--name {
          display: block;
          font-size: 10px;
          text-align: center;
          width: 90px;
        }
      }
    }

    &--caption {
      align-items: center;
      border: 1px solid var(--color--border);
      display: flex;
      font-size: 2rem;
      grid-column: 1 / 7;
      height: 100%;
      justify-content: center;
      line-height: 1.5;
      overflow: auto;
      text-align: center;

      &--team {
        display: inline-flex;
        flex-direction: column;
        grid-area: team;
        justify-content: center;
        margin: 0.5rem 0;

        &--image {
          background: var(--color--background--team);
          display: block;
          height: var(--size--image);
          margin: 15px 20px 0;
          width: var(--size--image);

          &.teamVillager {
            fill: var(--color--team--villager);
          }

          &.teamWerehamster {
            fill: var(--color--team--werehamster);
          }

          &.teamWerewolf {
            fill: var(--color--team--werewolf);
          }
        }

        &--name {
          display: block;
          font-size: 10px;
          text-align: center;
          width: 100%;
        }
      }
    }

    &--avatarImage {
      border: 1px solid var(--color--border);
      border-left: 4px double var(--color--border);
      display: grid;
      grid-template:
        '. . .' 1fr
        '. image .' var(--size--result-image)
        '. . .' 1fr
        / 1fr var(--size--result-image) 1fr;
      height: 100%;

      &--image {
        grid-area: image;
        height: var(--size--result-image);
        width: var(--size--result-image);
      }
    }

    &--image {
      border: 1px solid var(--color--border);
      display: grid;
      grid-template:
        '. . . .' 1fr
        '. image image .' var(--size--image-initial)
        '. image image .' calc(var(--size--result-image) - var(--size--image-initial))
        '. . . .' 1fr
        / 1fr calc(var(--size--result-image) - var(--size--image-initial)) var(--size--image-initial) 1fr;
      height: 100%;

      &--image {
        grid-area: image;
        height: var(--size--result-image);
        width: var(--size--result-image);
        z-index: var(--z-index--result--character-image);
      }

      &--initial {
        color: var(--color--font--image-initial);
        font-size: var(--font-size--image-initial);
        grid-area: 2 / 3;
        line-height: 1.25;
        text-align: center;
        z-index: var(--z-index--result--character-initial);
      }
    }

    &--avatarName {
      align-items: center;
      border: 1px solid var(--color--border);
      display: flex;
      font-size: 2rem;
      height: 100%;
      justify-content: center;
      line-height: 1.5;
      overflow: auto;
      text-align: center;

      &.dead {
        color: var(--color--dead);
      }
    }

    &--name {
      align-items: center;
      border: 1px solid var(--color--border);
      display: flex;
      font-size: 2rem;
      height: 100%;
      justify-content: center;
      line-height: 1.5;
      overflow: auto;
      text-align: center;

      &.dead {
        color: var(--color--dead);
      }
    }

    &--roleImage {
      border: 1px solid var(--color--border);
      border-right: none;
      display: grid;
      grid-template:
        '. . .' 1fr
        '. image .' var(--size--result-image)
        'name name name' minmax(12px, 1fr)
        / 1fr var(--size--result-image) 1fr;
      height: 100%;
      min-height: calc(var(--size--result-image) + 1.5rem);
      overflow: hidden;
      padding: 0;

      &--name {
        font-size: 10px;
        grid-area: name;
        line-height: 1.2;
        overflow: auto;
        text-align: center;
        word-break: keep-all;
      }

      &--image {
        grid-area: image;
        height: var(--size--result-image);
        width: var(--size--result-image);
      }
    }

    &--status {
      align-items: center;
      border: 1px solid var(--color--border);
      display: flex;
      font-size: 2rem;
      height: 100%;
      justify-content: center;
      line-height: 1.5;
      overflow: auto;
      text-align: center;

      &.dead {
        color: var(--color--dead);
      }
    }
  }

  &--header {
    background: var(--color--background);
    border: 1px solid var(--color--border);
    border-radius: 5px 5px 0 0;
    grid-column: 1 / 7;
    height: 1.5rem;
    position: sticky;
    top: 0;
    z-index: var(--z-index--result--close);

    &--close {
      background: var(--color--background);
      border: none;
      line-height: 0;
      padding: 0;

      & > .close {
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;

        & > .close--circle {
          fill: var(--color--background--close-button);
        }

        & > .close--path {
          fill: var(--color--line--close-button);
        }

        &:hover {
          & > .close--circle {
            fill: var(--color--background--close-button--hover);
          }

          & > .close--path {
            fill: var(--color--line--close-button--hover);
          }
        }
      }

      &:focus {
        outline: none;

        & > .close {
          & > .close--circle {
            fill: var(--color--background--close-button--hover);
          }

          & > .close--path {
            fill: var(--color--line--close-button--hover);
          }
        }
      }
    }
  }

  &--transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }
}
