.lo--avatar-image-select {
  background: var(--color--background--modal);
  bottom: 10%;
  left: 10%;
  padding: 1rem;
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: var(--z-index--modal);

  &--close {
    height: 1.5rem;
    left: 0.5rem;
    position: absolute;
    top: 0.5rem;
    width: 1.5rem;
  }

  &--description {
    color: var(--color--font--modal);
    font-size: 2rem;
    padding: 1rem;
  }

  &--image-list {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, minmax(calc(var(--size--avatar-image--L) + 0.5rem), 1fr));
    grid-template-rows: repeat(1000, calc(var(--size--avatar-image--L) + 0.5rem));
    height: calc(100% - 5rem);
    overflow: auto;

    &--item {
      align-items: center;
      display: flex;
      justify-content: center;

      &--image {
        height: var(--size--avatar-image--L);
        width: var(--size--avatar-image--L);

        &.selected {
          outline: var(--color--safe) solid 0.25rem;
        }
      }
    }
  }
}
