.lo--checkbox {
  border-radius: 4px;
  fill: var(--color--checkbox);
  height: var(--height--checkbox);
  margin: 0 1rem 0 0;
  width: var(--width--checkbox);

  &:focus {
    box-shadow: var(--box-shadow--focus-ring--checkbox);
    outline: none;
  }

  &[aria-disabled] {
    fill: var(--color--checkbox--disabled);
  }

  &[aria-disabled]:focus {
    box-shadow: none;
    outline: none;
  }

  & > .checkbox {
    display: block;
  }
}
