.lo--compact-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--item {
    background: var(--color--background--menu);
    border: 2px solid var(--color--border);
    cursor: pointer;
    font-weight: 100;
    margin-bottom: 0.5rem;
    user-select: none;

    &--button {
      background: var(--color--background--menu);
      border: none;
      color: var(--color--font--menu);
      font-size: 2rem;
      font-weight: 100;
      padding: 0.5rem;
      text-align: center;
      width: 100%;

      &.loader {
        align-items: center;
        background: var(--color--background--menu--disabled);
        color: var(--color--font--menu--disabled);
        cursor: wait;
        display: flex;
        justify-content: center;

        &:hover {
          background: var(--color--background--menu--disabled);
        }
      }

      &:focus {
        background: var(--color--background--menu--focus);
        outline: none;
      }

      &:hover {
        background: var(--color--background--menu--hover);
      }

      &:disabled {
        background: var(--color--background--menu--disabled);
        color: var(--color--font--button--disabled);
        cursor: not-allowed;

        &:hover {
          background: var(--color--background--menu--disabled);
        }
      }

      & > .loader {
        height: 3rem;
        position: absolute;
        stroke: var(--color--neutral90);
        width: 3rem;
      }
    }
  }
}
