.lo--confirmation {
  background: var(--color--background--modal);
  color: var(--color--font--modal);
  display: grid;
  gap: 0.5rem 0;

  /*
    5.5rem = font-size(1.5rem) * 3 chars + padding-left(0.5rem) + padding-right(0.5rem)
    15px = name's font-size(10px) * name's line-height(1.5)
    4.5rem = font-size(1.5rem) * line-height(1.5) * number of lines(2)
    3.25rem = font-size(1.5rem) * name's line-height(1.5) + padding-top(0.5rem) + padding-bottom(0.5rem)
  */
  grid-template:
    'description description description description description' 4.5rem
    '. yes . no .' 3.25rem
    / 1fr 5.5rem 1fr 5.5rem 1fr;
  left: 25vw;
  min-width: 300px;
  padding: 1rem;
  position: fixed;
  top: 30vh;
  width: 50vw;
  z-index: var(--z-index--modal);

  &--button {
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.5rem;
    text-align: center;

    &.yes {
      background: var(--color--background--button--modal);
      grid-area: yes;
    }

    &.no {
      background: var(--color--background--button--modal);
      grid-area: no;
    }

    &:hover {
      filter: opacity(85%);

      &:active {
        filter: brightness(85%);
      }
    }
  }

  &--description {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    grid-area: description;
    justify-content: center;
    text-align: center;
  }
}
