.lo--confirmation {
  background: var(--color--background);
  border: 1px solid var(--color--border);
  border-radius: 8px;
  color: var(--color--font);
  display: grid;

  /*
    5.5rem = font-size(1.5rem) * 3 chars + padding-left(0.5rem) + padding-right(0.5rem)
    15px = name's font-size(10px) * name's line-height(1.5)
    4.5rem = font-size(1.5rem) * line-height(1.5) * number of lines(2)
    3.25rem = font-size(1.5rem) * name's line-height(1.5) + padding-top(0.5rem) + padding-bottom(0.5rem)
  */
  grid-template:
    '. . . . .' 1fr
    'description description description description description' fit-content(4.5rem)
    '. yes . no .' 3.25rem
    '. . . . .' 1fr
    / 1fr 5.5rem 1fr 5.5rem 1fr;
  left: 25vw;
  min-height: calc(var(--min-height--window) * 0.3);
  min-width: calc(var(--min-width--window) / 2);
  padding: 1rem;
  position: fixed;
  top: 30vh;
  width: 50vw;
  z-index: var(--z-index--modal);

  &--button {
    background: var(--color--background--button);
    border: none;
    border-radius: 8px;
    color: var(--color--font--button);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.5rem;
    text-align: center;

    &.yes {
      grid-area: yes;
    }

    &.no {
      grid-area: no;
    }

    &:focus {
      box-shadow: var(--box-shadow--focus-ring);
      outline: none;
    }

    &:hover {
      background: var(--color--background--button--hover);
    }
  }

  &--description {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    grid-area: description;
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }
}
