.lo--menu {
  list-style-type: none;
  margin: 0;
  min-width: 900px;
  padding: 1rem;

  &--item {
    background: var(--color--background--menu);
    border: 2px solid var(--color--border);
    border-radius: 4px;
    cursor: pointer;
    margin: 1.5rem 10rem;
    user-select: none;

    &--button {
      background: var(--color--background--menu);
      border: none;
      color: var(--color--font--menu);
      font-size: 4rem;
      font-weight: 100;
      padding: 1rem;
      text-align: center;
      width: 100%;

      &:focus {
        background: var(--color--background--menu--focus);
        outline: none;
      }

      &:hover {
        background: var(--color--background--menu--hover);
      }

      &:disabled {
        background: var(--color--background--menu--disabled);
      }
    }
  }
}
