.lo--mute-button {
  cursor: pointer;
  height: 2rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 2rem;

  & > .mute {
    fill: var(--color--font);
  }

  & > .unmute {
    fill: var(--color--font);
  }
}
