.lo--obfucator {
  align-items: center;
  background: var(--color--obfucator);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index--obfucator);

  &--loader {
    height: 10%;
    stroke: var(--color--obfucator--loader);
    width: 10%;
  }

  &--transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }
}
