/* stylelint-disable selector-max-universal */
* {
  margin: 0;
  padding: 0;
}
/* stylelint-enable selector-max-universal */
:root {
  /* 100vw * (2/5) * (1/4) - 2 */
  --chat-image-size: 6vw;
  --arrow: 2vw;
}

.info-container {
  display: flex;
  height: 10vh;
  margin-bottom: 5vh;
}

.day {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    width: 60%;
    height: 60%;
    border: 2px solid black;
    border-radius: 5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.role {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    width: 60%;
    height: 60%;
    border: 2px solid black;
    border-radius: 5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.flex-container {
  display: flex;
  height: 60vh;
}

.chat {
  flex: 2;
  overflow: scroll;

  &--item {
    height: 300px;
    display: flex;
    min-height: var(--chat-image-size);
  }

  &--arrow-box {
    background: orange;
    flex: 3;
    position: relative;

    &::after {
      left: 100%;
      top: calc(var(--chat-image-size) / 2);
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: orange;
      border-width: var(--arrow);
      margin-top: calc(var(--arrow) * -1);
    }
  }

  &--text {
    padding: 1em;
  }

  &--image {
    flex: 1;
    position: relative;

    & > img {
      position: absolute;
      top: 0;
      right: 0;
      width: var(--chat-image-size);
      height: var(--chat-image-size);
    }
  }

  &--item.me {
    flex-direction: row-reverse;

    & > .chat--arrow-box::after {
      left: unset;
      right: 100%;
      border-color: transparent;
      border-right-color: orange;
    }

    & > .chat--image > img {
      left: 0;
      right: unset;
    }
  }
}

.prediction-container {
  background: gray;
  flex: 3;
}

.command {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;

  &--item {
    background-color: #8ca0ff;
    width: 30vw;
    height: 100%;
  }
}
