/* stylelint-disable selector-max-universal */
* {
  margin: 0;
  padding: 0;
}
/* stylelint-enable selector-max-universal */
:root {
  --info-image-size: 6vh;
  /* 100vw * (2/5) * (1/4) - 2 */
  --chat-image-size: 6vw;
  --arrow: 2vw;
}

.info-container {
  display: flex;
  height: 10vh;
  margin-bottom: 5vh;
}

.day {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    width: 60%;
    height: 60%;
    border: 2px solid black;
    border-radius: 5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.role {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    width: 60%;
    height: 60%;
    border: 2px solid black;
    border-radius: 5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &--icon {
    height: 80%;
    position: relative;
    width: var(--info-image-size);
    margin-right: 1em;

    & > img {
      position: absolute;
      height: var(--info-image-size);
      width: var(--info-image-size);
    }

    & > span {
      font-size: xx-small;
      position: absolute;
      text-align: center;
      top: var(--info-image-size);
      width: 100%;
    }
  }
}

.activity-container {
  display: flex;
  height: 60vh;
  justify-content: space-around;
}

.chat {
  width: 48vw;
  overflow: scroll;

  &--item {
    display: grid;
    grid-template-areas: 'me text opp';
    grid-template-columns: 1fr 4fr 1fr;
    min-height: calc(var(--chat-image-size) + 1em);
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  &--arrow-box {
    background: orange;
    grid-area: text;
    position: relative;
    border-radius: 5px;

    &::after {
      left: 100%;
      top: calc(var(--chat-image-size) / 2);
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: orange;
      border-width: var(--arrow);
      margin-top: calc(var(--arrow) * -1);
    }
  }

  &--text {
    padding: 1em;
    word-break: break-all;
  }

  &--icon {
    display: block;
    grid-area: opp;
    position: relative;
    margin: 0 0 0 var(--arrow);

    & > img {
      position: absolute;
      top: 0;
      right: 0;
      width: var(--chat-image-size);
      height: var(--chat-image-size);
    }

    & > span {
      position: absolute;
      top: var(--chat-image-size);
      width: 100%;
      text-align: center;
      font-size: x-small;
      word-break: keep-all;
      overflow: scroll;
    }
  }

  &--item.me {
    & > .chat--arrow-box::after {
      left: unset;
      right: 100%;
      border-color: transparent;
      border-right-color: orange;
    }

    & > .chat--icon {
      grid-area: me;
      margin: 0 var(--arrow) 0 0;

      & > img {
        left: 0;
        right: unset;
      }
    }
  }
}

.prediction {
  width: 48vw;
  display: grid;
  height: 100%;
  grid: repeat(6, 1fr) / repeat(7, 1fr);
  border: 1px solid black;
  border-radius: 3px;

  & > div {
    border: solid 1px black;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
  }

  & > div[ data-player = '1' ] {
    background-color: red;
  }

  & > div[ data-player = '2' ] {
    background-color: yellow;
  }

  & > div[ data-player = '3' ] {
    background-color: blue;
  }

  & > div[ data-player = '4' ] {
    background-color: lime;
  }

  & > div[ data-player = '5' ] {
    background-color: purple;
  }
}

.command {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  margin: 2.5vh 0;

  &--item {
    width: 30vw;
    height: 100%;
    position: relative;

    & textarea {
      position: absolute;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      max-height: 70%;
      height: 70%;
      resize: none;
      box-sizing: border-box;
      padding: 1em;
      border-radius: 10px;
    }

    & button {
      position: absolute;
      right: 0;
      top: 70%;
      width: 20%;
      height: 25%;
      margin: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(128, 216, 255);
      box-shadow: 0 1px 1px 0;

      &:hover {
        border: 1px solid white;
      }

      &:active {
        background-color: rgb(92, 155, 183);
      }
    }
  }
}
